.chatting-wrap img{display: block; width: 100%;}
.chatting-wrap .tips{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff;}
.chatting-wrap .tips img{ position: absolute; top: 40%; left: 50%; width: 6.4rem; height: 6.4rem; margin: -5rem 0 0 -3.2rem;}
.chatting-wrap .tips p{ position: absolute; top: 50%; left: 0; width: 100%; margin-top: -2rem; font-size: 1.4rem; color: #1a1a1a; line-height: 2rem;}
.chatting-wrap .chatting_list{color: #6b7380; font-size: 1.2rem; background: #fff;}
.chatting-wrap .c_list{/*height: 6.4rem;*/ padding: 1.5rem 1rem; cursor: pointer;}
.chatting-wrap .c_list a{ top: 0; left: 0; z-index: 3; width: 100%; height: 100%;}
.chatting-wrap .c_list dl{height: 4.8rem;}
.chatting-wrap .c_list dt span{display: block; width: 4.8rem; height: 4.8rem; border-radius: 0.2rem; }
.chatting-wrap .c_list dt span img{ border-radius: 0.2rem;}
.chatting-wrap .c_list dt, .c_list dd{float: left; display: inline; height: 100%;}
.chatting-wrap .c_list dt{width: 6rem; position: relative;}
.chatting-wrap .c_list dd{width: 29rem;}
.chatting-wrap .c_list dd .name_time{ height: 2.7rem;}
.chatting-wrap .c_list dd strong{ color: #1a1a1a; font-size: 1.4rem; line-height: 1.4rem; float: left;}
.chatting-wrap .c_list dd em{display: block; float: right; font-size: 1.2rem; color: #a6a6a6; line-height: 1.4rem;}
.chatting-wrap .c_list dd .tsmsg{width: 87%; font-size: 1.2rem; color: #6e6e6e; line-height: 1.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.chatting-wrap .c_list dt em{width: 1.2rem; height: 1.2rem; line-height: 1.2rem; background: #fb4c45; font-size: 0.8rem; text-align: center; position: absolute; top: -0.5rem; right: 0.5rem; border: 1px solid #fff; border-radius: 100%; color: #fff;}

.level .chatting-wrap .c_list dd{width: 52.8rem;}
