.chat-system-wrap .border-box{ border: none;}
.vertical .chat-system-wrap{height: 100%;padding: 0;}
.chat-system-wrap{background: #f6f6f6;}

.chat-system-wrap .data{display: block; width: 6rem; height: 2rem; line-height: 2rem; text-align: center; font-size: 1.22rem; background: #d2d2d2; border-radius: 0.25rem; margin: 0.75rem auto; color: #fff;}

/*show*/
<<<<<<< HEAD
.chat-system-wrap .show{ box-sizing: border-box; width: 100%; height: 100%; background: #f6f6f6; font-size: 1.3rem; color: #212b3e; padding: 1rem 1rem 6.5rem; overflow-x: hidden; overflow-y: auto;}
=======
<<<<<<< HEAD
.chat-system-wrap .show{ box-sizing: border-box; width: 100%; height: 100%; background: #f6f6f6; font-size: 1.3rem; color: #212b3e; padding: 1rem 1rem 6.5rem; overflow-x: hidden; overflow-y: auto;}
=======
.chat-system-wrap .show{ box-sizing: border-box; width: 100%; height: 100%; background: #f6f6f6; font-size: 1.3rem; color: #212b3e; padding: 1rem 1rem 6.5rem; overflow: auto;}
>>>>>>> f9aba7e0b65262449af2f09a105bf06a9c9dbe98
>>>>>>> abf3471762f674642de5a6a09c8cd93b9bfd403a
 
/*saybox*/     
.chat-system-wrap .saybox{ background: #fff; width: 100%; height: 3.6rem; border: 0.1rem solid #e7e5e6; position: fixed; bottom: 0; left: 0; padding: 0.85rem;  }
.chat-system-wrap .saybox dl{overflow: hidden;}
.chat-system-wrap .saybox dt, .saybox dd{float: left; display: inline;}
.chat-system-wrap .saybox dt{width: 3.7rem;}
.chat-system-wrap .saybox dt img{display: block; width: 100%;}
.chat-system-wrap .saybox dd{width: 32rem;}  
.chat-system-wrap .saybox dt span{width: 3rem; height: 3rem; display: block; cursor: pointer;}
.chat-system-wrap .saybox dd input{width: 24.5rem; height: 3.5rem; border: 1px solid #cccccc; border-radius: 0.25rem; display: block; padding-left: 1rem; font-size: 1.5rem;  }
.chat-system-wrap .saybox dd .send{width: 5rem; height: 3.3rem; display: block; text-align: center; line-height: 3.3rem; color: #fff; background: #f0514b; font-size: 1.5rem; font-weight: bold; border-radius: 0.25rem; margin: 0.25rem 0 0 1rem;}

/*facebox*/
.chat-system-wrap #facebox{bottom: 5rem !important; left: 0 !important; width: 35.5rem; height: 14rem; background: #fff; padding: 1rem;}
.chat-system-wrap #facebox td{width: 2.3rem;}
.chat-system-wrap #facebox td img{display: block; width: 100%;}
.vertical .chat-system-wrap .facebox table{display: block; width: 31rem; margin: 0 auto;}
.level .chat-system-wrap .facebox table{display: block; width: 62rem; margin: 0 auto;}

/*orders*/
.chat-system-wrap .orders_main{width: 33.2rem; margin: 0 auto; border: 1px solid #c7c7c7; border-radius: 0.25rem; padding: 1.2rem 0 0 1.9rem; padding-bottom: 1.4rem; font-size: 1.3rem;}
.chat-system-wrap .orders_main dl{overflow: hidden;}
.chat-system-wrap .orders_main dt, .orders_main dd{float: left; display: inline;}
.chat-system-wrap .orders_main dt{width: 6.5rem;}
.chat-system-wrap .orders_main dd{width: 25rem;}

/*user_say*/
.chat-system-wrap .user_say{width: 28.8rem; font-size: 1.2rem; margin-top: 3rem; clear: both; }
.chat-system-wrap .user_say dt{width: 5rem;}
.chat-system-wrap .user_name{color: #707070; width: 22.5rem; margin-bottom: 0.5rem;}
.chat-system-wrap .u_right .user_name{text-align: right;}
.chat-system-wrap .user_say dt img{display: block; width: 4rem; border-radius: 0.5rem;}
.chat-system-wrap .user_say dd{width: 23.5rem;}
.chat-system-wrap .user_saymsg{width: 19.5rem; background: #fff; border-radius: 0.5rem; padding: 1.5rem; text-align: justify; position: relative; line-height: 1.8rem;}
.chat-system-wrap .show img{display: inline-block; width: 1.7rem; }
.chat-system-wrap .u_left .user_saymsg{box-shadow: 0.25rem 0.25rem 0.5rem #dbdbdb;}
.chat-system-wrap .u_right .user_saymsg{box-shadow: -0.25rem 0.25rem 0.5rem #dbdbdb;}
.chat-system-wrap .u_left .user_saymsg:after{content:'三角'; text-indent: -9999px; width:0; height:0;  border-top:0.5rem solid transparent; border-bottom:0.5rem solid transparent; border-right:0.5rem solid #fff; position: absolute; top: 1rem; left: -0.5rem; }
.chat-system-wrap .u_right .user_saymsg:after{content:'三角'; text-indent: -9999px; width:0; height:0; border-top:0.5rem solid transparent;border-bottom: 0.5rem solid transparent; border-left: 0.5rem solid #fff; position: absolute; top: 1rem; right:-0.5rem; }
.chat-system-wrap .u_left{float: left;}
.chat-system-wrap .u_right{float: right;}

.level .chat-system-wrap{ height: 100%; padding-left: 0;}
.level .chat-system-wrap .saybox dd input{width: 54rem;}
.level .chat-system-wrap .saybox dd{width: 63rem;}
.level .chat-system-wrap .show{width: auto;}
.level .chat-system-wrap .wrap{padding: 0;}
.level .chat-system-wrap tr{float: left; display: inline;}
.level .chat-system-wrap #facebox{width: 64.5rem; height: 7rem;}
