.ensure-order-wrap{background: #f6f6f6;}
/*.ensure-order-wrap .border-box{ border: none;}*/
.ensure-order-wrap strong{font-weight: bold;;}
.ensure-order-wrap .addsp{background: url(../images/myAddress/sprite.png) no-repeat;background-size: 20rem;}
.vertical .ensure-order-wrap .border-box{ border-bottom-width: 6.5rem;}
.ensure-order-wrap .addBox{ position: relative; display: block; margin-bottom: 1rem; padding-top: 1rem; background: #fff; overflow: hidden;}
.ensure-order-wrap .addBox .user-info{ height: 2.4rem; margin-bottom: 0.2rem; padding: 0.6rem 0 0 3.2rem; font-size: 1.4rem; color: #212b3e; line-height: 2.4rem;}
.ensure-order-wrap .addBox .user-info strong{ margin-right: 2.8rem; font-size: 1.5rem; font-weight: bold;}
.ensure-order-wrap .addBox .add{ position: relative; height: 3.2rem; margin-bottom: 2.25rem; padding: 0 2.3rem 0 3.2rem; font-size: 1.2rem; color: #818181; line-height: 1.6rem; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.ensure-order-wrap #user_address{ position: relative;}
.ensure-order-wrap #user_address:before{ position: absolute; top: 50%; right: 1rem; z-index: 99; content: ''; width: 0.8rem; height: 1.1rem; margin-top: -0.55rem; background: url(../images/personal/per-sp.png) no-repeat -13.4rem 0; background-size: 18rem; pointer-events: none;}
.ensure-order-wrap .line{ width: 100%; height: 0.25rem; background: url(../images/myAddress/add-line.jpg) repeat-x; background-size: 2.8rem;}
.ensure-order-wrap .addBox .add i{ top: 50%; left: 1rem; width: 1.2rem; height: 1.5rem; margin-top: -0.65rem; background-position: -8.8rem -2rem;}
.ensure-order-wrap .not-addBox{ font-size: 0; text-align: center; line-height: 4.4rem;}
.ensure-order-wrap .not-addBox span{ font-size: 1.2rem; color: #6e6e6e;}
.ensure-order-wrap .not-addBox i{ display: inline-block; width: 1.2rem; height: 1.5rem; margin-right: 0.5rem; background-position: -8.8rem -2rem; vertical-align: middle;}

.ensure-order-wrap .shopList{background: #fff; overflow: hidden;}
.ensure-order-wrap .shopList .shopName{ padding-left: 1rem; font-size: 1.4rem; color: #1a1a1a; line-height: 4.4rem;}
.ensure-order-wrap .shopList .shopName img{ width: auto; height: 1.5rem; margin-right: 1rem; vertical-align: middle;}
.ensure-order-wrap .itemList{ position: relative; margin-bottom: 1rem; padding:1rem 1rem 1rem 11.7rem;}
.ensure-order-wrap .itemList:nth-child(2){ margin-top: 1rem;}
.ensure-order-wrap .itemList .img-box{position: absolute;top:1rem;left:1rem;width: 9.3rem;height: 9.3rem;}
.ensure-order-wrap .itemList .img-box img{ display: block;}
.ensure-order-wrap .itemList .right .listName{ height: 3.6rem; margin-bottom: 0.3rem; padding-top: 0.2rem; font-size: 1.2rem; color: #1a1a1a; line-height: 1.8rem; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.vertical .ensure-order-wrap .itemList .right .all-info .color{ display: none; margin-bottom: 0.9rem; font-size: 1.1rem; color: #a6a6a6; line-height: 1.8rem;}
.vertical .ensure-order-wrap .itemList .right .all-info .color:nth-child(2){ display: block;}
.ensure-order-wrap .itemList .nums{ position: relative;}
.ensure-order-wrap .itemList .nums p:nth-of-type(1){font-size: 1.5rem; color: #fb4c45; line-height: 2.5rem;float: left;}
.ensure-order-wrap .itemList .nums p:nth-of-type(1) .rmb{font-size: 1.2rem;}
.ensure-order-wrap .itemList .nums p:nth-of-type(2){ font-size: 1.2rem; color: #a6a6a6; line-height: 2.5rem; float: right;}
.vertical .ensure-order-wrap .countFee{ padding: 1.2rem 1rem; background: #fff;}
.vertical .ensure-order-wrap .countFee div{ float: left; width: 100%;}
.vertical .ensure-order-wrap .countFee p{ float: left; width: 100%; font-size: 1.3rem; color: #1a1a1a; line-height: 2.7rem; }
.vertical .ensure-order-wrap .countFee p .feeName{float: left;}
.vertical .ensure-order-wrap .countFee p .feeNum{float: right;font-size: 1.4rem;color:#fb4c45;}
.vertical .ensure-order-wrap .countFee .feeNum span:nth-of-type(1){font-size: 1.3rem;}
.vertical .ensure-order-wrap .goPay{background: #f0514b;line-height: 4.5rem;width: 35.5rem;height: 4.5rem;color: #fff;text-align: center;font-size: 1.6rem;display: block;position: absolute;bottom: 1rem;left:50%;margin-left:-17.75rem;border-radius: 0.25rem;z-index: 10;}
.vertical .ensure-order-wrap .alreadySale{display: none;}

/*shuban*/
.level .ensure-order-wrap .border-box{ border-left: none; border-bottom: 6rem solid rgba(255,255,255,0);}
.level .ensure-order-wrap .itemList .right .listName{ height: 2.2rem; margin-bottom: 0.9rem; padding-top: 0; line-height: 2.2rem;  -webkit-line-clamp: 1;}
.level .ensure-order-wrap .all-info{ height: 2.9rem; color: #a6a6a6; line-height: 1.1rem; white-space: nowrap; overflow: hidden;}
.level .ensure-order-wrap .all-info p{ display: inline-block; margin-right: 2.8rem; font-size: 1.1rem;}
.level .ensure-order-wrap .all-info .color:nth-child(3),
.level .ensure-order-wrap .all-info .color:nth-child(4){ display: none;}
.level .ensure-order-wrap .countFee{background: #fff;width: 100%; padding: 1rem 0;}
.level .ensure-order-wrap .countFee div{ float: right; padding-right: 1rem;}
.level .ensure-order-wrap .countFee p{line-height: 2.7rem;}
.level .ensure-order-wrap .itemFee{float: left;}
.level .ensure-order-wrap .transportFee{float: left;margin-left:2.85rem;}
.level .ensure-order-wrap .allFee{float: left;margin-left:2.85rem;}
.level .ensure-order-wrap .countFee p .feeName{color: #1a1a1a;font-size: 1.3rem;}
.level .ensure-order-wrap .countFee p .feeNum{ margin-left: 0.5rem; font-size: 1.6rem;color:#fb4c45;}
.level .ensure-order-wrap .countFee .feeNum span:nth-of-type(1){font-size: 1.3rem;}
.level .ensure-order-wrap .goPay{ background: #fb4c45;line-height: 4rem;width: 63.7rem;height: 4rem;color: #fff;text-align: center;font-size: 1.4rem;display: block;position: absolute;bottom: 1rem;left:1.5rem; border-radius: 0.25rem;z-index: 10;overflow: hidden;}