.input-add-wrap{background:#f6f6f6;}
.vertical .input-add-wrap .border-box{ border-bottom-width: 6.5rem;}
.input-add-wrap .line{ position: relative; height: 2.5rem; line-height: 2.5rem; font-size: 1.3rem;color:#1a1a1a;padding: 1.25rem 0 1.25rem 8.8rem;background: #fff;}
.input-add-wrap .line span{ position: absolute; top: 50%; left: 1rem; display: block; height: 2.5rem; margin-top: -1.25rem;}
.input-add-wrap .line input{ border: none; width: 27.6rem; height: 2.5rem; }
.input-add-wrap .line1{ line-height: 2.5rem; font-size: 1.3rem;color:#1a1a1a;}
.input-add-wrap .line1 p{ position: relative; min-height: 2.5rem; padding: 1.25rem 0 1.25rem 8.8rem; background: #fff;}
.input-add-wrap .line1 span{ position: absolute; top: 50%; left: 1rem; display: block; height: 2.5rem; margin-top: -1.25rem;}
.input-add-wrap .line1 .chooseArea select{ box-sizing: border-box; width: 8.2rem; height: 2.5rem; margin-right: 1rem; border: 1px solid #d6d6d6; line-height: 2.5rem; font-size: 1.3rem;color:#1a1a1a; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.input-add-wrap .line1 .address span{ top: 1.25rem; margin-top: 0;}
.input-add-wrap .line1 textarea{ width: 26.4rem; height: 10.4rem;border:1px solid #d6d6d6;padding:0.6rem;border-radius:0.25rem;resize: none;}
.input-add-wrap .saveAdd{background: #f0514b;width: 35.5rem;height: 4.5rem;line-height: 4.5rem;text-align: center;font-size: 1.6rem;color: #fff;display: block;border-radius: 0.25rem;position: absolute; bottom:1rem; left:1rem; z-index: 9;}

.level .input-add-wrap .border-box{ border-left: none; border-bottom: 6.3rem solid rgba(255,255,255,0);}
.level .input-add-wrap .line1 .chooseArea select{ width: 13rem;}
.level .input-add-wrap .line1 textarea{ width: 39.8rem; height: 7.8rem;}
.level .input-add-wrap .saveAdd{ width: 64.7rem; height: 4rem; line-height: 4.1rem;}