.order-page-wrap{ background: #f6f6f6;}
.order-page-wrap .border-box{ border: none;}
.order-page-wrap .backtotop{ bottom: 4rem;}
.order-page-wrap .order-page-nav{ position: absolute; top: 0; right: 0; z-index: 9; background: #fff; overflow: hidden;}
.order-page-wrap .order-page-nav-cont{ height: 6rem; overflow-x: auto; overflow-y: hidden;}
.order-page-wrap .order-page-nav::-webkit-scrollbar{ opacity: 0;}
.order-page-wrap .order-page-nav ul{ width: 100%; height: 4.4rem;}
.order-page-wrap .order-page-nav li{ width: 7.5rem; height: 4.4rem;}
.order-page-wrap .order-page-nav a{ bottom: 0; left: 0; width: 100%; height: 4.2rem; border-bottom: 0.2rem solid #ebebeb; font-size: 1.5rem; color: #212b3e; line-height: 4.2rem;}
.order-page-wrap .order-page-nav a.on{ background: #f2f2f2; border-bottom-color: #fb4c45; color: #fb4c45;}
.order-page-wrap .order-page-nav i{ top: 50%; right: 0.9rem; display: none; width: 1.1rem; height: 1.1rem; margin-top: -0.6rem; border-top: 1px solid #ff0000; border-right: 1px solid #ff0000; -webkit-transform: rotate(45deg);}
.vertical .order-page-wrap .main{ padding-top: 5.5rem;}
.vertical .order-page-wrap .page-main{ padding-top: 0;}
.vertical .order-page-wrap .order-page-nav{ width: 100%; height: 4.4rem;}
.vertical .order-page-wrap .cont{ margin-bottom: 1rem;}
.vertical .order-page-wrap .page-main .cont{ margin-bottom: 0; border-bottom: none;}
.vertical .order-page-wrap .cont .hd,
.vertical .order-page-wrap .cont .bd{ padding: 0 1rem; background: #fff;}
.vertical .order-page-wrap .cont .hd{ height: 4.3rem;}
.vertical .order-page-wrap .cont .hd h2{ font-size: 1.4rem; color: #1a1a1a; line-height: 4.3rem;}
.vertical .order-page-wrap .cont .hd img{ width: auto; height: 1.5rem; margin-right: 1rem; vertical-align: middle;}
.vertical .order-page-wrap .cont .state{ position: absolute; top: 0; right: 1rem; font-size: 1.4rem; color: #fb4c45; line-height: 4.3rem;}
.vertical .order-page-wrap .cont .explain{ padding-top: 1.8rem; font-size: 1.2rem; color: #6e6e6e; line-height: 1.2rem;}
.vertical .order-page-wrap .cont .explain span{ color: #fb4c45;}
.vertical .order-page-wrap .lists{ padding-top: 1.8rem;}
.vertical .order-page-wrap .lists li{ margin-bottom: 1rem; padding: 0 0 1rem 10.8rem;/* border-bottom: 1px solid #eee;*/}
.vertical .order-page-wrap .lists .img-box{ position: absolute; top: 0; left: 0; width: 9.2rem; height: 9.2rem;/* border: 1px solid #c4c4c4;*//* border-radius: 0.4rem;*/ overflow: hidden;}
.vertical .order-page-wrap .lists .img-box img{/* border-radius: 0.4rem;*/}
.vertical .order-page-wrap .lists .name{ width: 22rem; height: 3.7rem; margin-bottom: 0.4rem; padding-right: 2.7rem; font-size: 1.2rem; color: #1a1a1a; line-height: 1.85rem; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.vertical .order-page-wrap .lists .color{ margin-bottom: 1.9rem; font-size: 1.1rem; color: #a6a6a6; line-height: 1.85rem;}
.vertical .order-page-wrap .lists .price{ font-size: 1.2rem; color: #f0514b; line-height: 1.2rem;}
.vertical .order-page-wrap .lists .sales{ display: none;}
.vertical .order-page-wrap .lists .refund-txt{ position: absolute; top: 6.2rem; left: 10.8rem; font-size: 1rem; color: #fb4c45; line-height: 1rem;}
.vertical .order-page-wrap .lists .num{ position: absolute; right: 0; bottom: 1rem; font-size: 1.2rem; color: #a6a6a6; line-height: 1.2rem;}
.vertical .order-page-wrap .details{ height: 2.6rem;}
.vertical .order-page-wrap .details .cost{ position: absolute; top: 0; right: 0; font-size: 1.4rem; color: #1a1a1a; line-height: 1.4rem;}
.vertical .order-page-wrap .details .cost p{ position: relative; float: left; margin-left: 0.5rem; text-align: right;}
.vertical .order-page-wrap .details .cost .fare{ margin-left: 0; font-size: 1.0rem; line-height: 1.8rem;}
.vertical .order-page-wrap .details .cost .fare b{ font-size: 0.8rem;}
.vertical .order-page-wrap .details .cost strong{ font-size: 1.2rem; font-weight: bold; color: #f0514b;}
.vertical .order-page-wrap .details .cost .paid b{ font-size: 1rem;}
.vertical .order-page-wrap .details .cost .txt{ position: absolute; top: 0; left: 0;}
.vertical .order-page-wrap .logistics{ padding: 1rem 0; border-bottom: 1px solid #eaeaea;}
.vertical .order-page-wrap .logistics p{ font-size: 1.2rem; color: #6e6e6e; line-height: 2.1rem;}
.vertical .order-page-wrap .logistics a{ position: absolute; top: 50%; right: 0; width: 8.7rem; height: 3.12rem; margin-top: -1.56rem; border: 1px solid #6e6e6e; border-radius: 0.4rem; font-size: 1.2rem; color: #1a1a1a; line-height: 3.26rem;}
.vertical .order-page-wrap .btn-box{ padding: 1.5rem 0;}
.vertical .order-page-wrap .btn-box a{ width: 8.7rem; height: 3.12rem; margin-right: 1rem; border: 1px solid #d6d6d6; border-radius: 0.4rem; font-size: 1.2rem; color: #1a1a1a; line-height: 3.26rem;}
.vertical .order-page-wrap .btn-box a:last-child{ margin-right: 0;}
.vertical .order-page-wrap .btn-box a.red{ background: #fb4c45; border-color: #fb4c45; color: #fff;}
.vertical .order-page-wrap .title{ display: table; width: 100%; height: 6.7rem; margin-bottom: 1rem; background: #fff; overflow: hidden;}
.vertical .order-page-wrap .title .title-cont{ display: table-cell; vertical-align: middle;}
.vertical .order-page-wrap .title h2{ padding: 0 1rem; font-size: 1.5rem; color: #212b3e; line-height: 2.5rem;}
.vertical .order-page-wrap .title span{ /*font-weight: bold;*/ color: #fb4c45;}
.vertical .order-page-wrap .title p{ padding: 0 1rem; font-size: 1.2rem; color: #212b3e; line-height: 2rem;}
.vertical .order-page-wrap .title p span{ color: #f72828;}
.vertical .order-page-wrap .address{ margin-bottom: 1rem; padding-bottom: 1rem; background: #fff; overflow: hidden;}
.vertical .order-page-wrap .address .user-info{ height: 2.4rem; margin-bottom: 0.2rem; padding: 0.6rem 0 0 3.2rem; font-size: 1.4rem; color: #1a1a1a; line-height: 2.4rem;}
.vertical .order-page-wrap .address .user-info strong{ margin-right: 2.8rem; font-size: 1.5rem; font-weight: bold;}
.vertical .order-page-wrap .address .add{ width: 32rem; padding-left: 3.2rem; font-size: 1.2rem; color: #6e6e6e; line-height: 1.6rem;}
.vertical .order-page-wrap .address .add i{ top: 50%; left: 1rem; width: 1.2rem; height: 1.5rem; margin-top: -0.75rem; background-position: -8.8rem -2rem;}
.vertical .order-page-wrap .page-main .price-info{ margin-bottom: 1rem; padding: 0 1rem 1rem; background: #fff; border-bottom: 1px solid #eaeaea; font-size: 1.4rem; color: #818181; text-align: right; line-height: 2.5rem;}
.vertical .order-page-wrap .page-main .price-info p:last-child{ color: #212b3e;}
.vertical .order-page-wrap .page-main .price-info em{ position: absolute; top: 0; left: 0;}
/*.vertical .order-page-wrap .page-main .price-info span{ color: #f0514b;}*/
.vertical .order-page-wrap .page-main .price-info b{ font-size: 1.05rem;}
.vertical .order-page-wrap .page-main .price-info strong{ font-weight: bold; color: #f0514b;}
.vertical .order-page-wrap .page-main .order-num{ padding: 0.8rem 1rem; background: #fff; border-bottom: 1px solid #eaeaea; font-size: 1.4rem; color: #818181; line-height: 2.5rem;}
.vertical .order-page-wrap .page-main .logistics{ margin: 1rem 0; padding: 1rem; background: #fff;}
.vertical .order-page-wrap .page-main .logistics a{ right: 1rem;}
.vertical .order-details-wrap .border-box{ border-bottom: 6.12rem solid rgba(255,255,255,0);}
.vertical .order-details-wrap .btn-box{ position: absolute; bottom: 0; left: 0; z-index: 9; width: 100%; padding: 1.5rem 0; background: #fff;}
.vertical .order-details-wrap .btn-box a:last-child{ margin-right: 1rem;}
/*.vertical .success-wrap .border-box{ border-bottom: 6.12rem solid rgba(255,255,255,0);}*/
.vertical .success-wrap .details{ background: #fff;}
.vertical .success-wrap .details .cost{ right: 1rem;}
.vertical .success-wrap .btn-box{ padding: 1.5rem 1rem; background: #fff;}
.vertical .success-wrap .success-info{ width: 26.3rem; height: 9.6rem; margin-bottom: 1rem; padding: 2.4rem 0 0 11.2rem; background: url(../images/success-bg.jpg) no-repeat; background-size: 100%;}
.vertical .success-wrap .success-info h3{ font-size: 1.7rem; color: #fff; line-height: 2.5rem;}
.vertical .success-wrap .success-info p{ font-size: 1.2rem; color: #fff; line-height: 2.2rem;}

.level .order-page-wrap .main{ padding-top: 3.45rem;}
.level .order-page-wrap .page-main{ padding-top: 0;}
.level .order-page-wrap .order-page-nav{ left: 5.9rem; height: 3.45rem;}
.level .order-page-wrap .order-page-nav ul{ height: 3.45rem;}
.level .order-page-wrap .order-page-nav li{ width: 12.16rem; height: 3.4rem;}
.level .order-page-wrap .order-page-nav a{ height: 3.2rem; line-height: 3.4rem;}
.level .order-page-wrap .cont{ padding-top: 0.5rem;}
.level .order-page-wrap .cont .hd,
.level .order-page-wrap .cont .bd{ padding: 0 1rem; background: #fff; border-bottom: 1px solid #eee;}
.level .order-page-wrap .cont .hd{ height: 3.3rem; border-top: 1px solid #eee;}
.level .order-page-wrap .cont .hd h2{ font-size: 1.5rem; color: #212b3e; line-height: 3.3rem;}
.level .order-page-wrap .cont .hd img{ width: auto; height: 1.5rem; margin-right: 1rem; vertical-align: middle;}
.level .order-page-wrap .cont .state{ position: absolute; top: 0; right: 1rem; font-size: 1.3rem; color: #212b3e; line-height: 3.3rem;}
.level .order-page-wrap .cont .explain{ height: 3.3rem; border-bottom: 1px solid #eee; font-size: 1.1rem; color: #212b3e; line-height: 3.3rem;}
.level .order-page-wrap .cont .explain span{ color: #f72828;}
.level .order-page-wrap .lists li{ height: 6.9rem; padding: 0.5rem 0 0.5rem 8rem; border-bottom: 1px solid #eee;}
.level .order-page-wrap .lists .img-box{ position: absolute; top: 0.5rem; left: 0; width: 6.75rem; height: 6.75rem; border: 1px solid #c4c4c4; border-radius: 0.2rem; overflow: hidden;}
.level .order-page-wrap .lists .img-box img{ border-radius: 0.2rem;}
.level .order-page-wrap .lists .name{ width: 49.8rem; height: 4.2rem; font-size: 1.4rem; color: #212b3e; line-height: 4.2rem; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;}
.level .order-page-wrap .lists .color{ position: absolute; bottom: 1.3rem; left: 26rem; font-size: 1.2rem; color: #adadad; line-height: 1.3rem;}
.level .order-page-wrap .lists .price{ position: absolute; bottom: 1.3rem; left: 8rem; font-size: 1.3rem; color: #f0514b; line-height: 1.3rem;}
.level .order-page-wrap .lists .sales{ position: absolute; bottom: 1.3rem; left: 16rem; font-size: 1.2rem; color: #adadad; line-height: 1.3rem;}
.level .order-page-wrap .lists .num{ position: absolute; right: 0; bottom: 1.3rem; font-size: 1.2rem; color: #adadad; line-height: 1.3rem;}
.level .order-page-wrap .details{ height: 3.3rem; border-bottom: 1px solid #eee;}
.level .order-page-wrap .details .goods{ font-size: 1.3rem; color: #212b3e; line-height: 3.3rem;}
.level .order-page-wrap .details .cost{ position: absolute; top: 0; right: 0; font-size: 1.3rem; color: #212b3e; line-height: 3.3rem;}
.level .order-page-wrap .details .cost p{ position: relative; float: left; margin-left: 1.2rem;/* padding-left: 3.7rem;*/ text-align: right;}
.level .order-page-wrap .details .fare{ font-size: 1.0rem;}
.level .order-page-wrap .details .fare b{ font-size: 0.8rem;}
/*.level .order-page-wrap .details .cost em{ position: absolute; top: 0; left: 0;}*/
/*.level .order-page-wrap .details .cost span{ font-size: 1.3rem; color: #f0514b; text-align: right;}*/
.level .order-page-wrap .details .cost strong{ font-size: 1.2rem; font-weight: bold; color: #f0514b;}
.level .order-page-wrap .details .cost .paid b{ font-size: 1.0rem;}
.level .order-page-wrap .details .cost .txt{ position: absolute; top: 0; left: 0;}
.level .order-page-wrap .logistics{ padding: 0.8rem 0; border-bottom: 1px solid #eee;}
.level .order-page-wrap .logistics p{ font-size: 1.1rem; color: #2f2e2e; line-height: 2rem;}
.level .order-page-wrap .logistics a{ position: absolute; top: 50%; right: 0; width: 7.7rem; height: 2.6rem; margin-top: -1.35rem; border: 1px solid #d6d6d6; border-radius: 0.3rem; font-size: 1.2rem; color: #212b3e; line-height: 2.6rem;}
.level .order-page-wrap .btn-box{ padding: 1.3rem 0;}
.level .order-page-wrap .btn-box a{ width: 10.8rem; height: 3rem; margin-right: 1.4rem; border: 1px solid #a4a4a4; border-radius: 0.4rem; font-size: 1.5rem; color: #212b3e; line-height: 3rem;}
.level .order-page-wrap .btn-box a:last-child{ margin-right: 0;}
.level .order-page-wrap .btn-box a.red{ background: #f0514b; border-color: #f0514b; color: #fff;}
.level .order-page-wrap .title{ display: table; width: 100%; height: 6.7rem; margin-bottom: 0.5rem; background: #fff; overflow: hidden;}
.level .order-page-wrap .title .title-cont{ display: table-cell; vertical-align: middle;}
.level .order-page-wrap .title h2{ padding: 0 1rem; font-size: 1.5rem; font-weight: bold; color: #212b3e; line-height: 2.5rem;}
.level .order-page-wrap .title p{ padding: 0 1rem; font-size: 1.2rem; color: #212b3e; line-height: 2rem;}
.level .order-page-wrap .title p span{ color: #f72828;}
.level .order-page-wrap .address{ margin-bottom: 0.5rem; padding-bottom: 1rem; background: #fff; overflow: hidden;}
.level .order-page-wrap .address .user-info{ height: 2.4rem; margin-bottom: 0.2rem; padding: 0.6rem 0 0 3.2rem; font-size: 1.4rem; color: #212b3e; line-height: 2.4rem;}
.level .order-page-wrap .address .user-info strong{ margin-right: 2.8rem; font-size: 1.5rem; font-weight: bold;}
.level .order-page-wrap .address .add{ padding: 0 3rem 0 3.2rem; font-size: 1.2rem; color: #818181; line-height: 1.6rem;}
.level .order-page-wrap .address .add i{ top: 50%; left: 1rem; width: 1.2rem; height: 1.5rem; margin-top: -0.75rem; background-position: -8.8rem -2rem;}
.level .order-page-wrap .page-main .btn-box{ padding: 1.5rem 1rem; background: #fff;}
.level .order-page-wrap .page-main .price-info{ height: 3.2rem; margin-bottom: 0.5rem; padding: 0 1rem; background: #fff; border-bottom: 1px solid #eaeaea; font-size: 1.5rem; color: #212b3e; line-height: 3.2rem;}
.level .order-page-wrap .page-main .price-info div{ float: right;}
.level .order-page-wrap .page-main .price-info p{ float: left; margin-left: 3rem;}
.level .order-page-wrap .page-main .price-info em{ margin-right: 0.8rem;}
.level .order-page-wrap .page-main .price-info span{ color: #f0514b;}
.level .order-page-wrap .page-main .price-info strong{ font-weight: bold; color: #f0514b;}
.level .order-page-wrap .page-main .order-num{ height: 4.2rem; padding: 0 1rem; background: #fff; border-bottom: 1px solid #eaeaea; font-size: 1.4rem; color: #818181; line-height: 4.2rem;}
.level .order-page-wrap .page-main .order-num p{ float: left; margin-right: 2.5rem;}
.level .order-page-wrap .page-main .logistics{ margin-top: 0.5rem; padding: 0 1rem 1rem; background: #fff; border-bottom: 1px solid #cac9c9;}
.level .order-page-wrap .page-main .logistics a{ right: 1rem;}

.order-page-wrap .lists li .link{width:100%; height:100%; display:block; position:absolute; left:0; top:0;}