.refund-wrap{background: #f6f6f6;}
.refund-wrap .border-box{ border: none;}
.cartsp{background: url(../images/myAddress/sprite.png) no-repeat;background-size: 20rem;}
.vertical .refund-wrap .title{ display: table; width: 100%; height: 6.7rem; margin-bottom: 0.5rem; background: #fff; overflow: hidden;}
.vertical .refund-wrap .title .title-cont{ display: table-cell; vertical-align: middle;}
.vertical .refund-wrap .title h2{ padding: 0 1rem; font-size: 1.5rem; color: #212b3e; line-height: 2.5rem;}
.vertical .refund-wrap .title span{ font-weight: bold;}
.vertical .refund-wrap .title p{ padding: 0 1rem; font-size: 1.2rem; color: #212b3e; line-height: 2rem;}
.vertical .refund-wrap .cartSort{margin-bottom: 1rem;background: #fff;}
.vertical .refund-wrap .cs{margin-top:0.5rem;}
.vertical .refund-wrap .shopName{border:1px solid #e9e9e9;height: 4.3rem;line-height: 4.3rem;padding-left:3.2rem;position: relative;font-size: 1.3rem;color:#212b3e;line-height: 4.3rem;}
.vertical .refund-wrap .shopName .home{background-position: -11.4rem 0;position: absolute;top:1.45rem;left:0.85rem;display: block;width: 1.5rem;height:1.4rem;}
.vertical .refund-wrap .shopName a{float: right;margin-right:1rem;}

.vertical .refund-wrap .shopItem{position: relative; height: 9.15rem; padding:1rem 1rem 1rem 14.7rem;/*border-bottom:1px solid #e2e2e2;*/}
.vertical .refund-wrap .shopItem .choose,.vertical .refund-wrap .countAll .choose{width: 2.05rem;height: 2.05rem;position: absolute;left: 1rem;top:4.65rem;display: block;background: none;}
.vertical .refund-wrap .shopItem .choose:before,.vertical .refund-wrap .countAll .choose:before{width: 2.05rem;height: 2.05rem;position: absolute;left: 0;top:0;content:'';display: block;background: url(../images/myAddress/sprite.png) no-repeat;background-size: 20rem;background-position: -13.45rem 0;-webkit-transform: scale(0.85);}
.vertical .refund-wrap .shopItem a.choose-sure,.vertical .refund-wrap .countAll a.choose-sure{width: 2rem;height: 2rem;border: none;}
.vertical .refund-wrap .shopItem a.choose-sure:before,.vertical .refund-wrap .countAll a.choose-sure:before{ width: 2rem; height: 2rem; background-position: 0 0;}
.vertical .refund-wrap .left{position:absolute;left:4rem;top:1rem;width: 9.15rem;height: 9.15rem;/*border:1px solid #c4c4c4;*/}
.vertical .refund-wrap .right{}
.vertical .refund-wrap .right .itemName{ height: 3.5rem; color: #212b3e;font-size: 1.3rem;line-height: 1.75rem;margin-bottom:0.3rem;padding-top: 0.2rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;}
.vertical .refund-wrap .right .itemColor{color: #adadad;font-size: 1.2rem;line-height: 1.2rem;margin-bottom:1.6rem;}
.vertical .refund-wrap .right .alreadySale{display: none;}
.vertical .refund-wrap .right .fee{color: #f0514b;font-size: 1.8rem;line-height: 1.8rem;}
.vertical .refund-wrap .right .fee span{/*font-size: 1.2rem;*/}
.vertical .refund-wrap .right .remain{position: absolute;top:6.20rem;right:1rem;color: #f0514b;font-size: 1rem;}
.vertical .refund-wrap .countAll{height: 4.4rem;line-height: 4.6rem;font-size: 1.4rem;color:#818181;position: relative;padding-left:4rem;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.vertical .refund-wrap .countAll .choose{top:1.2rem;left:1rem;}

.vertical .refund-wrap .countAll .total{font-size: 1.4rem;color: #212b3e;line-height: 4.4rem;position: absolute;top:0;right: 1rem;}
.vertical .refund-wrap .countAll .total span{color:#f0514b;}
.vertical .refund-wrap .countAll .total span:nth-of-type(1){font-size: 1.3rem;}
.vertical .refund-wrap .countAll .total span:nth-of-type(2){font-size: 1.6rem;}
.vertical .refund-wrap .order-num{ padding: 0.8rem 1rem; background: #fff; border-bottom: 1px solid #dfdfdf; font-size: 1.4rem; color: #818181; line-height: 2.5rem;}
.vertical .refund-wrap .reason{ padding: 0.8rem 1rem; background: #fff; border-bottom: 1px solid #dfdfdf; font-size: 1.4rem; color: #212b3e; line-height: 2.5rem;}
.vertical .refund-wrap .reason select{ width: 15rem; height: 2.5rem; padding: 0 0.5rem; border: 1px solid #212b3e; font-size: 1.4rem; color: #212b3e; line-height: 2.5rem;}
.vertical .refund-wrap .btn-box{ padding: 1.5rem 1rem; background: #fff;}
.vertical .refund-wrap .btn-box a{ box-sizing: border-box; width: 8.64rem; height: 3.12rem; margin-right: 1.08rem; border: 1px solid #a4a4a4; border-radius: 0.4rem; font-size: 1.2rem; color: #212b3e; line-height: 3.12rem;}
.vertical .refund-wrap .btn-box a:last-child{ margin-right: 0;}
.vertical .refund-wrap .btn-box a.red{ background: #f0514b; border-color: #f0514b; color: #fff;}
/*失效*/
.vertical .refund-wrap .cartSort .fail p,.vertical .refund-wrap .cartSort .fail a,.vertical .refund-wrap .cartSort .fail span{color: #adadad;border-color: #d6d6d6;}

.level .refund-wrap .title{ display: table; width: 100%; height: 6.7rem; margin-bottom: 0.5rem; background: #fff; overflow: hidden;}
.level .refund-wrap .title .title-cont{ display: table-cell; vertical-align: middle;}
.level .refund-wrap .title h2{ padding: 0 1rem; font-size: 1.5rem; font-weight: bold; color: #212b3e; line-height: 2.5rem;}
.level .refund-wrap .title p{ padding: 0 1rem; font-size: 1.2rem; color: #212b3e; line-height: 2rem;}
.level .refund-wrap .cartSort{background: #fff;}
.level .refund-wrap .cs{margin-top:0.5rem;}
.level .refund-wrap .shopName{border:1px solid #e9e9e9;height: 4.3rem;line-height: 4.3rem;padding-left:3.2rem;position: relative;font-size: 1.5rem;color:#212b3e;}
.level .refund-wrap .shopName .home{background-position: -11.4rem 0;position: absolute;top:1.45rem;left:0.85rem;display: block;width: 1.5rem;height:1.4rem;}
.level .refund-wrap .shopName a{float: right;margin-right:1rem;}

.level .refund-wrap .shopItem{position: relative;padding:1rem 1rem 1rem 14.7rem;border-bottom:1px solid #e2e2e2;}
.level .refund-wrap .shopItem .choose,.level .refund-wrap .countAll .choose{width: 2.05rem;height: 2.05rem;position: absolute;left: 1.5rem;top:3.15rem;display: block;background-position: -13.45rem 0;}
.level .refund-wrap .shopItem a.choose-sure,	.level .refund-wrap .countAll a.choose-sure{background: url(../images/myAddress/sprite.png) no-repeat 0 0;background-size: 20rem;width: 2rem;height: 2rem;border: none;}
.level .refund-wrap .left{position:absolute;left:4.6rem;top:0.5rem;width: 6.75rem;height: 6.75rem;border:1px solid #c4c4c4;}
.level .refund-wrap .right{position: relative;height: 5.9rem;}
.level .refund-wrap .right .itemName{color: #212b3e;font-size: 1.4rem;line-height: 1.75rem;margin-bottom:0.7rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;}
.level .refund-wrap .right .itemColor{color: #adadad;font-size: 1.2rem;margin-bottom:1.6rem;position: absolute;left: 15.9rem;top:2.9rem;}
.level .refund-wrap .right .alreadySale{font-size: 1.2rem;color:#adadad;position: absolute;top:2.9rem;left:6.6rem;}
.level .refund-wrap .right .fee{color: #f0514b;font-size: 1.6rem;position: absolute;top: 2.9rem;left: 0.05rem;}
.level .refund-wrap .right .fee span{font-size: 1.5rem;}
.level .refund-wrap .right .remain{position: absolute;top:0.2rem;right:0.2rem;color: #f0514b;font-size: 1rem;}
.level .refund-wrap .countAll{height: 4.4rem;line-height: 4.4rem;font-size: 1.4rem;color:#818181;position: relative;padding-left:4rem;border-bottom:1px solid #e0e0e0;}
.level .refund-wrap .countAll .choose{top:1.2rem;left:1.5rem;}

.level .refund-wrap .countAll .total{font-size: 1.3rem;color: #212b3e;position: absolute;top:0;right:1rem;}
.level .refund-wrap .countAll .total span{color:#f0514b;}
.level .refund-wrap .countAll .total span:nth-of-type(1){font-size: 1.3rem;}
.level .refund-wrap .countAll .total span:nth-of-type(2){font-size: 1.6rem;}
.level .refund-wrap .order-num{ height: 4.2rem; padding: 0 1rem; background: #fff; border-bottom: 1px solid #dfdfdf; font-size: 1.4rem; color: #818181; line-height: 4.2rem;}
.level .refund-wrap .order-num p{ float: left; margin-right: 2.5rem;}
.level .refund-wrap .reason{ padding: 0.8rem 1rem; background: #fff; border-bottom: 1px solid #dfdfdf; font-size: 1.4rem; color: #212b3e; line-height: 2.5rem;}
.level .refund-wrap .reason select{ width: 15rem; height: 2.5rem; padding: 0 0.5rem; border: 1px solid #212b3e; font-size: 1.4rem; color: #212b3e; line-height: 2.5rem;}
.level .refund-wrap .btn-box{ padding: 1.3rem 1rem;}
.level .refund-wrap .btn-box a{ width: 10.8rem; height: 3rem; margin-right: 1.4rem; border: 1px solid #a4a4a4; border-radius: 0.4rem; font-size: 1.5rem; color: #212b3e; line-height: 3rem;}
.level .refund-wrap .btn-box a:last-child{ margin-right: 0;}
.level .refund-wrap .btn-box a.red{ background: #f0514b; border-color: #f0514b; color: #fff;}
/*失效*/
.level .refund-wrap .cartSort .fail p,.level .cartSort .fail a,.level .cartSort .fail input{color: #adadad;border-color: #adadad;}
