.shopping-cart-wrap{background: #f6f6f6;}
.cartsp{background: url(../images/myAddress/sprite.png) no-repeat;background-size: 20rem;}
.shopping-cart-wrap #cartSort{ position: relative; height: 100%;}
.shopping-cart-wrap .not-product{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff;}
.shopping-cart-wrap .not-product img{ position: absolute; top: 40%; left: 50%; width: 4.45rem; height: 3.9rem; margin: -3.9rem 0 0 -2.225rem;}
.shopping-cart-wrap .not-product p{ position: absolute; top: 40%; left: 0; width: 100%; margin-top: 2rem; font-size: 1.4rem; color: #1a1a1a; text-align: center; line-height: 2rem;}

.shopping-cart-wrap .cartSort{margin-bottom: 1rem;background: #fff;}
.shopping-cart-wrap .cs{margin-top:0.5rem;}
.shopping-cart-wrap .shopName{ height: 4.3rem;}
.shopping-cart-wrap .shopName h2{ padding-left: 1rem; font-size: 1.4rem; color: #1a1a1a; line-height: 4.3rem;}
.shopping-cart-wrap .shopName img{ width: auto; height: 1.5rem; margin-right: 1rem; vertical-align: middle;}
.shopping-cart-wrap .shopName a{ position: absolute; top: 0; right: 0; display: block; padding: 0 1rem; font-size: 1.4rem; color: #1a1a1a; line-height: 4.3rem;}
.shopping-cart-wrap .shopItem{position: relative; height: 9.3rem; padding:1rem 1rem 1rem 14.6rem;/*border-bottom:1px solid #e2e2e2;*/}
.shopping-cart-wrap .shopItem .choose,.shopping-cart-wrap .countAll .choose{width: 2.05rem;height: 2.05rem;position: absolute;left: 1rem;top:4.65rem;display: block;background: none;}
.shopping-cart-wrap .shopItem .choose:before,.shopping-cart-wrap .countAll .choose:before{width: 2.05rem;height: 2.05rem;position: absolute;left: 0;top:0;content:'';display: block;background: url(../images/myAddress/sprite.png) no-repeat;background-size: 20rem;background-position: -13.45rem 0;-webkit-transform: scale(0.85);}
.shopping-cart-wrap .shopItem a.choose-sure,.shopping-cart-wrap .countAll a.choose-sure{width: 2rem;height: 2rem;border: none;}
.shopping-cart-wrap .shopItem a.choose-sure:before,.shopping-cart-wrap .countAll a.choose-sure:before{ width: 2rem; height: 2rem; background-position: 0 0;}
.shopping-cart-wrap .left{position:absolute !important;left:4rem;top:1rem;width: 9.15rem;height: 9.15rem;}
.shopping-cart-wrap .left img{ width: 100%;}
.shopping-cart-wrap .right{}
.shopping-cart-wrap .right .itemName{ height: 3.6rem; color: #1a1a1a;font-size: 1.3rem;line-height: 1.8rem; margin-bottom: 0.2rem; padding-top: 0.1rem; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden;}
.shopping-cart-wrap .right .itemColor{ height: 2.2rem; color: #a6a6a6;font-size: 1.1rem;line-height: 1.8rem;margin-bottom:0.8rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.shopping-cart-wrap .right .alreadySale{display: none;}
.shopping-cart-wrap .right .fee{color: #fb4c45;font-size: 1.5rem;line-height: 2.3rem;}
.shopping-cart-wrap .right .fee span{/*font-size: 1.2rem;*/}
.shopping-cart-wrap .right .actNum{ position: absolute; bottom:1rem; right:1rem; color: #212b3e; font-size: 1.44rem;text-align: center;}
.shopping-cart-wrap .right .actNum p{ border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.shopping-cart-wrap .right .actNum a{ box-sizing: border-box; border: 1px solid #d6d6d6; border-top: none; border-bottom: none; width: 2.35rem;height: 2.4rem;float: left; font-size: 2.6rem;color: #212b3e;line-height: 2.4rem; -webkit-tap-highlight-color:rgba(0,0,0,0.1)}
.shopping-cart-wrap .right .actNum a.plus{ font-size: 2.0rem; line-height: 2.2rem;}
.shopping-cart-wrap .right .actNum span{ box-sizing: border-box; float: left;width: 5.35rem; height: 2.4rem;text-align: center;line-height: 2.6rem; overflow: hidden;}
.shopping-cart-wrap .right .actNum .stock-info{ top: -1.2rem; right: 0; font-size: 1rem; color: #fb4c45; line-height: 1rem;}
.shopping-cart-wrap .right .remain{position: absolute;top:6.20rem;right:1rem;color: #f0514b;font-size: 1rem;}
.shopping-cart-wrap .countAll{height: 4.4rem;line-height: 4.5rem;font-size: 1.4rem;color:#818181;position: relative;padding-left:4rem;}
.shopping-cart-wrap .countAll .choose{top:1.2rem;left:1rem;}

.shopping-cart-wrap .countAll .total{font-size: 1.4rem;color: #212b3e;line-height: 4.4rem;position: absolute;top:0;right: 12.5rem;}
.shopping-cart-wrap .countAll .total span{color:#f0514b;}
.shopping-cart-wrap .countAll .total span:nth-of-type(1){font-size: 1.3rem;}
.shopping-cart-wrap .countAll .total span:nth-of-type(2){font-size: 1.6rem;}
.shopping-cart-wrap .countAll .operate{display: block;width: 11.05rem;height: 4.4rem; font-size: 1.5rem; text-align: center;color: #fff;position: absolute;right: 0;top:0;vertical-align: middle;}
.shopping-cart-wrap .countAll .operate-delete{background: #ff8a3c;}
.shopping-cart-wrap .countAll .operate-goPay{background: #f0514b;}
/*失效*/
.shopping-cart-wrap .cartSort .fail p,.shopping-cart-wrap .cartSort .fail a,.shopping-cart-wrap .cartSort .fail span{color: #adadad;border-color: #d6d6d6;}

.level .shopping-cart-wrap .shopItem{ padding-left: 15.6rem;}
.level .shopping-cart-wrap .left{ left: 5rem;}