.sort-wrap .sort-page-nav{ position: absolute; top: 0; right: 0; z-index: 9; background: #fff; overflow: hidden;}
.sort-wrap .sort-page-nav-cont{ height: 6rem; overflow-x: auto; overflow-y: hidden;}
.sort-wrap .sort-page-nav ::-webkit-scrollbar{ opacity: 0;}
.sort-wrap .sort-page-nav ul{ width: 100%; height: 4.5rem;}
.sort-wrap .sort-page-nav li{ width: 7.5rem; height: 4.5rem;/* border-bottom: 2px solid #e2e2e2;*/}
.sort-wrap .sort-page-nav a{ top: 0; left: 0; width: 100%; height: 4.3rem;/* padding-bottom: 0.2rem;*/ border-bottom: 0.2rem solid #e2e2e2; font-size: 1.5rem; color: #212b3e; line-height: 4.3rem;}
.sort-wrap .sort-page-nav a.on{ padding-bottom: 0; background: #f2f2f2; border-bottom: 0.2rem solid #f0514b; color: #f0514b;}
.sort-wrap .sort-page-nav i{ top: 50%; right: 0.9rem; display: none; width: 1.1rem; height: 1.1rem; margin-top: -0.6rem; border-top: 1px solid #f0514b; border-right: 1px solid #f0514b; -webkit-transform: rotate(45deg);}
.sort-wrap .lists .enter-btn{ top: 0; left: 0; z-index: 9; width: 100%; height: 100%;}
.sort-wrap .cont .tips{ padding: 1.5rem 0; font-size: 1.2rem; color: #9baab5; line-height: 1.2rem;}
.vertical .sort-wrap .main{ padding-top: 4.5rem;}
.vertical .sort-wrap .sort-page-nav{ width: 100%; height: 4.5rem;}
.vertical .sort-wrap .page-sort{ height: 3rem; padding: 0 1rem 0 0; border-bottom: 1px solid #e2e2e2;}
.vertical .sort-wrap .page-sort a{ width: 8rem; height: 3rem; font-size: 1.2rem; color: #212b3e; line-height: 3rem;}
.vertical .sort-wrap .page-sort a.on{ color: #f0514b;}
.vertical .sort-wrap .page-sort p{ width: 20.5rem; height: 3rem; font-size: 1.1rem; color: #9baab5; line-height: 3rem;}
.vertical .sort-wrap .lists{ padding: 1.3rem 0 0;}
.vertical .sort-wrap .lists li{ width: 24.5rem; margin-bottom: 0.3rem; padding-left: 13rem;}
.vertical .sort-wrap .lists .img-box{ position: absolute; top: 0; left: 0; width: 11.1rem; height: 11.1rem; padding: 0.7rem; overflow: hidden;}
.vertical .sort-wrap .lists .name{ width: 23rem; height: 4rem; margin-bottom: 1.9rem; padding: 1.25rem 0.1rem 0 0; font-size: 1.4rem; color: #212b3e; line-height: 2rem; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.vertical .sort-wrap .lists .price{ height: 1.9rem; margin-bottom: 0.6rem; padding-left: 0; font-size: 1.9rem; color: #f0514b; text-indent: -0.3rem; line-height: 1.9rem;}
.vertical .sort-wrap .lists .price span{ margin-left: 0.8rem; font-size: 1rem; color: #9baab5; text-decoration: line-through;}
.vertical .sort-wrap .lists .sales,
.vertical .sort-wrap .lists .comment{ display: none;}
.vertical .sort-wrap .lists .all-info{ height: 2.85rem; padding-left: 0; border-bottom: 1px solid #f1f1f1; font-size: 1.2rem; color: #9baab5; line-height: 1.2rem;}
.vertical .sort-wrap .lists .btn{ position: absolute; bottom: 1.65rem; right: 1.5rem; display: block; width: 7.2rem; height: 3.3rem; background: #f0514b; border-radius: 0.2rem; font-size: 1.5rem; color: #fff; text-align: center; line-height: 3.5rem;}

.level .sort-wrap .main{ padding: 3.45rem 0 0;}
.level .sort-wrap .sort-page-nav{ left: 5.9rem; height: 3.5rem;}
.level .sort-wrap .sort-page-nav ul{ height: 3.45rem;}
.level .sort-wrap .sort-page-nav li{ width: 12.16rem; height: 3.4rem;}
.level .sort-wrap .sort-page-nav a{ height: 3.2rem; line-height: 3.4rem;}
.level .sort-wrap .page-sort{ position: relative; height: 2.6rem; padding: 0 1rem 0 2.8rem; border-bottom: 2px solid #e2e2e2;}
.level .sort-wrap .page-sort a{ width: 10.8rem; height: 2.6rem; font-size: 1.2rem; color: #212b3e; line-height: 2.6rem;}
.level .sort-wrap .page-sort a.on{ color: #f0514b;}
.level .sort-wrap .page-sort p{ position: absolute; top: 0; right: 1rem; height: 2.6rem; font-size: 1.1rem; color: #9baab5; line-height: 2.6rem;}
.level .sort-wrap .lists{ padding: 1rem 1rem 0.5rem;}
.level .sort-wrap .lists li{ width: 16.9rem; margin: 0 1rem 0.5rem 0; padding-left: 12rem;}
.level .sort-wrap .lists li:nth-child(2n){ margin-right: 0;}
.level .sort-wrap .lists .img-box{ position: absolute; top: 0; left: 0; width: 10.95rem; height: 10.95rem; background: #f9f9f9; border: 1px solid #d2d2d2; border-radius: 0.2rem;}
.level .sort-wrap .lists .name{ height: 3.6rem; margin-bottom: 1.1rem; font-size: 1.3rem; color: #212b3e; line-height: 1.8rem; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.level .sort-wrap .lists .price{ height: 1.3rem; margin-bottom: 3.2rem; font-size: 1.3rem; color: #f0514b; line-height: 1.3rem;}
.level .sort-wrap .lists .price span{ margin-left: 1rem; font-size: 1rem; color: #9baab5; text-decoration: line-through;}
.level .sort-wrap .lists .sales{ height: 1.8rem; border-bottom: 1px solid #e7e6e6; font-size: 1.2rem; color: #9baab5; line-height: 1.3rem;}
.level .sort-wrap .lists .comment,
.level .sort-wrap .lists .all-info{ display: none;}
.level .sort-wrap .lists .btn{ position: absolute; right: 0; bottom: 0.8rem; display: block; width: 7.2rem; height: 2.7rem; background: #f0514b; border-radius: 0.3rem; font-size: 1.5rem; color: #fff; text-align: center; line-height: 2.7rem;}