.ware-wrap{background: #f6f6f6;}
.ware-wrap .lsp{background-image: url('../images/ware/sp.png'); background-repeat: no-repeat; background-size: 8.35rem; }
.ware-wrap .gray{color: #6b7380;}
.ware-wrap .withebg{background: #fff;}
.ware-wrap img{display: block; width: 100%;}

.ware-wrap .border-box{ border-bottom-width: 5.4rem;}
.level .ware-wrap .border-box{ border-left: none;}

/*下拉加载提示*/
.tips{ padding: 1.8rem 0 2rem; font-size: 1.2rem; color: #9baab5; line-height: 1.2rem;}

/*ware*/
.ware-wrap .ware{border-bottom: 1px solid #dfdfdf; margin-bottom: 0.5rem;}
.ware-wrap .ware_img{overflow: hidden;}
.ware-wrap .ware_img li{width: 100%;}
.ware-wrap .ware_msg{padding-left:1rem;}
.ware-wrap .ware_msg .ware_name{font-size: 1.8rem; font-weight: bold; padding: 1rem 0;}
.ware-wrap .about_ware{font-size: 1.3rem;}
.ware-wrap .ware_price{padding: 0 1rem; height: 4.5rem; line-height: 4.5rem;}
.ware-wrap .ware_price li{font-size: 1.2rem;}
.ware-wrap .ware_price .lx1{font-size: 2.1rem; color: #f0514b; margin-right: 2.2rem; line-height: 4rem;}
.ware-wrap .ware_price .lx1, .ware-wrap .ware_price .lx2{float: left;}
.ware-wrap .ware_price .lx3, .ware-wrap .ware_price .lx4{float: right;}
.ware-wrap .ware_price .lx3{margin-right: 1.5rem;}
.ware-wrap .swiper-container{height: 23rem; overflow: hidden; position: relative;}
.ware-wrap .swiper-slide{ height: 23rem !important; float: left; }
.ware-wrap .swiper-slide img{display: block; width: 100%;}
.ware-wrap .swiper-wrapper{position: relative;}

/*ware_nav*/
.ware-wrap .ware_nav_body{ height: 4.4rem; line-height: 4.4rem; border-top:1px solid #dfdfdf; }
.ware-wrap .ware_nav{background: #F6F6F6;}
.ware-wrap .ware_nav a{width: 12.5rem; text-align: center; border-bottom:1px solid #dfdfdf; font-size: 1.5rem;}
.ware-wrap .ware_nav .select{border-bottom:1px solid #f0514b; color: #f0514b;}

/*discuss*/
.ware-wrap .discuss_pj{height: 4.5rem; line-height: 4.5rem; border-bottom: 1px solid #e1e1e1; padding: 0 1rem; margin-bottom: 0.5rem;}
.ware-wrap .discuss_pj dl{overflow: hidden; font-size: 1.5rem; clear: both; }
.ware-wrap .discuss_pj dt, .ware-wrap .discuss_pj dd{float: left; display: inline;}
.ware-wrap .discuss_pj dd{float: right; padding-right: 0.5rem;}
.ware-wrap .discuss_pj dt{font-size: 1.2rem;}
.ware-wrap .discuss_pj dt strong{color: #000; font-size: 1.5rem;}
.ware-wrap .discuss_pj dd span{font-size: 1.5rem; padding-right: 0.5rem;}
.ware-wrap .starlilst .star{width: 1.35rem; height: 1.3rem; }
.ware-wrap .starlilst .hui{background-position: 0 0;}
.ware-wrap .starlilst .red{background-position: -1.35rem 0;}

/*user_pj*/
.ware-wrap .user{border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; margin-bottom: 0.5rem;}
.ware-wrap .user_pj{padding-bottom: 5rem;}
.ware-wrap .user_buy_data{height: 4.7rem; line-height: 4.7rem; font-size: 1.5rem; padding: 0 1rem;}
.ware-wrap .user_buy_data img{display: inline-block; width: 100%;}
.ware-wrap .user_buy_data .lx1 span{width: 2.8rem; display: block;}
.ware-wrap .user_buy_data .lx1{margin-right: 1rem;}
.ware-wrap .user_buy_data .lx3{font-size: 1.2rem; color: #9baab5;}
.ware-wrap .user_main{width: 35.5rem; padding-top: 1rem; margin: 0 auto; border-top: 1px solid #e5e5e5; }
.ware-wrap .pj{padding-top: 0.5rem; font-size: 1.3rem;}
.ware-wrap .user_main ol{padding-top: 1.4rem; overflow: hidden;}
.ware-wrap .user_main ol li{width: 10rem; margin: 0 0.5rem 0.5rem 0;}
.ware-wrap .buydata{height: 4rem; line-height: 4rem; font-size: 1.2rem;}

/*buy_nav*/
<<<<<<< HEAD
.ware-wrap .buy_nav{ width: 37.5rem; height: 5.4rem; position: absolute; bottom: 0; left: 0; z-index: 9;}
=======
<<<<<<< HEAD
.ware-wrap .buy_nav{ width: 37.5rem; height: 5.4rem; position: absolute; bottom: 0; left: 0; z-index: 9;}
=======
.ware-wrap .buy_nav{ width: 37.5rem; height: 5.4rem; position: absolute; bottom: 0; left: 0;}
>>>>>>> f9aba7e0b65262449af2f09a105bf06a9c9dbe98
>>>>>>> abf3471762f674642de5a6a09c8cd93b9bfd403a
.ware-wrap .buy_nav li{line-height: 5.4rem; text-align: center; position: relative;}
.ware-wrap .buy_nav .lx3, .ware-wrap .buy_nav .lx4{font-size: 1.7rem; font-weight: bold; width: 10.9rem;} 
.ware-wrap .buy_nav .lx1, .ware-wrap .buy_nav .lx2{width: 7.85rem; text-indent: -9999px;}
.ware-wrap .buy_nav .lx5{width: 21.8rem; background: #8b8b8b; font-size: 1.6rem; font-weight: bold;}
.ware-wrap .buy_nav .lx6{width: 21.8rem; background: #8b8b8b; font-size: 1.6rem; font-weight: bold;}
.ware-wrap .buy_nav .lx3{background: #ff8a3c;}
.ware-wrap .buy_nav .lx4{background: #f0514b;}
.ware-wrap .buy_nav a{display: block; color: #fff; width: 100%; height: 100%;}
.ware-wrap .buy_nav .lx1,.ware-wrap .buy_nav .lx2{background: #ffffff;}
.ware-wrap .buy_nav li span{ z-index: 999; display: block; width: 1.2rem; height: 1.2rem; line-height: 1.2rem; border-radius: 100%; text-align: center; background: #f0514b; position: absolute; top:1rem; right: 3rem; color: #fff; text-indent: 0; font-size: 0.8rem;}
.ware-wrap .nyh .lx3,.ware-wrap .nyh .lx4{display: none;}
.ware-wrap .yh .lx5{display: none;}
.ware-wrap .yh .lx6{display: none;}
.ware-wrap .buy_nav .lx1:after{content: '客服'; position: absolute; top: 50%; margin-top: -1.5rem; left: 50%; margin-left: -1.1rem; width: 2.2rem; height:2.15rem; background: url('../images/ware/sp.png') no-repeat 0 -7.55rem; background-size: 8.35rem; text-indent: 0; font-size: 1rem; font-weight: normal; color: #5d5d5d; line-height: 6rem; pointer-events: none;}
.ware-wrap .buy_nav .lx2:after{content: '购物车'; position: absolute; top: 50%; margin-top: -1.5rem; left: 40%; margin-left: -1.1rem; width: 3rem; height:2.5rem; background: url('../images/ware/sp.png') no-repeat 0 -4.25rem; background-size: 8.35rem; text-indent: 0; font-size: 1rem; font-weight: normal; color: #5d5d5d; line-height: 6rem; pointer-events: none;}
.ware-wrap .swiper-container .sp_idx{width: 2.5rem; height: 2.5rem; line-height: 2.5rem; font-size: 1.2rem; color: #fff; position: absolute; right: 2rem; bottom: 2rem; text-indent: 0;  border-radius: 100%; z-index: 1000; background: rgba(0,0,0,0.5); text-align: center;}


/*ggcs*/
.ware-wrap .ggcs{width: 35.43rem; margin: 0 auto; text-align: center; padding-top: 1rem;}
.ware-wrap .ggcs td{border: 1px solid #e2e2e2; height: 3rem; line-height: 3rem; font-size: 1.23rem;}
.ware-wrap .ggcs .tdo{width: 9.8rem;}
.ware-wrap .ggcs strong{font-size: 1.5rem;}
.ware-wrap .ggcs table{width: 35.5rem; margin: 0 auto;}

/*spxq*/
.ware-wrap .spxq li{width: 37.5rem; margin-bottom: 0.5rem;}

/*gmtc*/
.ware-wrap .ware_sp_list{clear: both;}
.ware-wrap .gmtc_show{ -webkit-animation:tc_bgshow 0.3s ease both; }
.ware-wrap .gmtc_show .gmtc_main {-webkit-animation:tc_up 0.3s ease both; -webkit-transform:translate(0,50rem);}
.ware-wrap .gmtc_hide{ -webkit-animation:tc_bghide 0.3s ease both; }
.ware-wrap .gmtc_hide .gmtc_main {-webkit-animation:tc_down 0.3s ease both;}
.ware-wrap .gmtc{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0); z-index: 9999;}
<<<<<<< HEAD
.ware-wrap .gmtc .gmtc_main{width: 37.5rem; padding-bottom: 7rem; background: #fff; position: fixed; bottom: 0; left: 0; }
=======
<<<<<<< HEAD
.ware-wrap .gmtc .gmtc_main{width: 37.5rem; padding-bottom: 7rem; background: #fff; position: fixed; bottom: 0; left: 0; }
=======
.ware-wrap .gmtc .gmtc_main{width: 37.5rem;/* height: 34rem;*/ background: #fff; position: fixed; bottom: 0; left: 0; }
>>>>>>> f9aba7e0b65262449af2f09a105bf06a9c9dbe98
>>>>>>> abf3471762f674642de5a6a09c8cd93b9bfd403a
.ware-wrap .gmtc .imgbox{width: 12rem; height: 12rem; position: absolute; left: 2.5rem; top: -3.3rem; border: 1px solid #d6d6d6; background: #fff;}
.ware-wrap .gmtc .imgbox em{width: 10rem; margin: 0 auto; display: block; overflow: hidden;}
.ware-wrap .gmtc .sp_price{padding-bottom: 11rem; border-bottom: 1px solid #e2e2e2;}
.ware-wrap .gmtc .sp_price_text{width: 21.8rem; height: 9.85rem; float: right; font-weight: bold;}
.ware-wrap .gmtc .sp_price_text .p1{font-size: 1.5rem; padding: 4.2rem 0 0 0;}
.ware-wrap .gmtc .sp_price_text .p2{font-size: 1.9rem; color: #f0514b;}
.ware-wrap .gmtc .sp_color{clear: both; height: 27rem; overflow: auto;}
.ware-wrap .gmtc .sp_color h2{height:4rem; line-height: 4rem; font-size: 1.4rem; color: #636a70; padding-left: 1.8rem; }
.ware-wrap .gmtc .sp_color_bnt a{display: block; height: 2.7rem; line-height: 2.7rem; font-size: 1.0rem; text-align: center; float: left; border-radius: 0.25rem; margin: 0 0 1rem 1.6rem;  }
.ware-wrap .gmtc .sp_color_bnt .have{ border: 1px solid #c1c2c4; color: #000; }
.ware-wrap .gmtc .sp_color_bnt .no{ background: #dbdbdb; border: 1px solid #9baab5; color: #fff; cursor: default;}
.ware-wrap .gmtc .sp_color_bnt .small{padding: 0.2rem 0.8rem;}
.ware-wrap .gmtc .sp_color_bnt .center{width: 15.8rem;}
.ware-wrap .gmtc .sp_color_bnt .big{width: 24.5rem;}
.ware-wrap .gmtc .sp_val{padding-left: 1.65rem;}
.ware-wrap .gmtc .sp_val span{text-align: center; font-size: 1.6rem; height: 2.7rem; line-height: 2.7rem; border: 1px solid #d6d6d6;}
.ware-wrap .gmtc .sp_val .min, .ware-wrap .gmtc .sp_val .add{width: 2.7rem; background: #fff; display: inline-block; cursor: pointer; font-size: 1.6rem; font-weight: normal;}
.ware-wrap .gmtc .sp_val .text_box{width: 5.4rem; display: inline-block;}
.ware-wrap .gmtc .ljgmbnt{display: block; width: 100%; height: 5rem; line-height: 5rem; text-align: center; background: #f0514b; font-size: 1.6rem; color: #fff; position: absolute; bottom: 0;}
.ware-wrap .gmtc .jrgwcbnt{ background: #ff8a3c;}
.ware-wrap .jrgwc .shop_car_success{position: absolute; top: 50%; left: 50%; display: block; width: 15rem; margin-left: -7.5rem; margin-top: -5rem; z-index: 9998; display: none;}
.ware-wrap .gmtc .close{position: absolute; right: 1rem; top: 0; font-size: 3rem; color: #afb0b1;}
.ware-wrap #ljgm .select,.ware-wrap #jrgwc .select{ background: #f0514b; border-color: #f0514b; color: #fff;}
@-webkit-keyframes tc_bgshow 
{
	0%{ background: rgba(0,0,0,0); }
	100%{ background: rgba(0,0,0,0.5);}
}
@-webkit-keyframes tc_bghide 
{
	0%{ background: rgba(0,0,0,0.5); }
	100%{ background: rgba(0,0,0,0);}
}
@-webkit-keyframes tc_up 
{
	0%{ -webkit-transform:translate(0,50rem); }
	100%{ -webkit-transform:translate(0,0); }
}
@-webkit-keyframes tc_down 
{
	0%{ -webkit-transform:translate(0,0); }
	100%{ -webkit-transform:translate(0,50rem); }
}


/*横屏样式*/
.level .ware-wrap{padding: 0;}
.level .ware-wrap .ware{width: 33.5rem; float: left; display: inline; margin-right: 0.1rem; }
.level .ware-wrap .ware_nav{float: right; display: inline;width: 33rem; clear: both;}
.level .ware-wrap .ware_nav a{width: 11rem;}
.level .ware-wrap .spxq, .level .ware-wrap .ggcs, .level .ware-wrap .user_pj{float: right; display: inline; width: 33rem; clear: both;}
.level .ware-wrap .buy_nav{width: auto;}
.level .ware-wrap .buy_nav li{width: 16.67rem;}
.level .ware-wrap .discuss_pj dt{width: 15rem;}
.level .ware-wrap .user_main{width: 31rem;}
.level .ware-wrap .ggcs table{width: 32rem;}
.level .ware-wrap .gmtc .gmtc_main{width: 53.8rem; left: 50%; margin-left: -26.9rem;}
.level .ware-wrap .gmtc .sp_price_text{width: 38rem;}
.level .ware-wrap .gmtc .sp_price_text .p1{padding: 1.2rem 0 0 0;}
.level .ware-wrap .user_main ol li{width: 9rem;}
.level .ware-wrap .buy_nav li span{right: 8.2rem;}
.level .ware-wrap .ware{position: fixed; height: 33rem; overflow: auto;}
.level .ware-wrap .ware_nav_body{float: right;}
.level .ware-wrap .spxq, .level .ware-wrap .ggcs, .level .ware-wrap .user_pj{height: 45rem; overflow: auto;}

