.ware-wrap{background: #f6f6f6;}
.ware-wrap .lsp{background-image: url('../images/ware/sp.png'); background-repeat: no-repeat; background-size: 8.35rem; }
.ware-wrap .gray{color: #6b7380;}
.ware-wrap .withebg{background: #fff;}
.ware-wrap img{display: block; width: 100%;}

.ware-wrap .border-box{ border-bottom-width: 5.4rem;}
.level .ware-wrap .border-box{ border-left: none;}

/*下拉加载提示*/
.tips{ padding: 1.8rem 0 2rem; background: #fff; font-size: 1.2rem; color: #9baab5; line-height: 1.2rem;}

/*ware*/
.ware-wrap .ware{ margin-bottom: 1rem;}
.ware-wrap .ware_img{overflow: hidden;}
.ware-wrap .ware_img li{width: 100%;}
.ware-wrap .ware_msg{padding: 0 1rem;}
.ware-wrap .ware_msg .ware_name{ font-size: 1.4rem; color: #1a1a1a; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; padding: 1.8rem 0 1.2rem; overflow: hidden;}
.ware-wrap .about_ware{ margin-bottom: 1.1rem; font-size: 1.2rem; color: #a6a6a6; line-height: 1.8rem;}
.ware-wrap .ware_price{ padding: 0 1rem; height: 3.2rem;}
.ware-wrap .ware_price li{ font-size: 1.2rem; color: #6e6e6e;}
.ware-wrap .ware_price .lx1{ font-size: 2.2rem; color: #fb4c45; margin-right: 1.7rem; line-height: 2.2rem;}
.ware-wrap .ware_price .lx2{ font-size: 1rem; color: #a6a6a6; line-height: 3.4rem;}
.ware-wrap .ware_price .lx1, .ware-wrap .ware_price .lx2{float: left;}
.ware-wrap .ware_price .lx3, .ware-wrap .ware_price .lx4{float: right; font-size: 1.2rem; line-height: 3.2rem;}
.ware-wrap .ware_price .lx3{ margin-right: 1.5rem;}
.ware-wrap .swiper-container{height: 25rem; overflow: hidden; position: relative;}
.ware-wrap .swiper-slide{ height: 25rem !important; float: left; overflow: hidden;}
.ware-wrap .swiper-slide img{display: block; width: 100%;}
.ware-wrap .swiper-wrapper{position: relative;}

/*ware_nav*/
.ware-wrap .ware_nav_body{ height: 4.5rem; background: #fff; line-height: 4.5rem;}
.ware-wrap .ware_nav{ background: #fff;}
<<<<<<< HEAD
.ware-wrap .ware_nav a{width: 12.5rem; text-align: center; font-size: 1.4rem; color: #1a1a1a;}
=======
.ware-wrap .ware_nav a{width: 12.5rem; text-align: center;/* border-bottom:1px solid #eaeaea;*/ font-size: 1.4rem; color: #1a1a1a;}
>>>>>>> 688ca31043e2e7f77d5499df2160c69b2cb495f3
.ware-wrap .ware_nav .select{ color: #fb4c45;}
.ware-wrap .ware_nav .select:before{border-bottom-color: #fb4c45;}

/*discuss*/
.ware-wrap .discuss_pj{ height: 4.4rem; line-height: 4.4rem; margin-bottom: 1rem; background: #fff;}
.ware-wrap .discuss_pj dl{ padding: 0 1rem;overflow: hidden; font-size: 1.5rem; clear: both; }
.ware-wrap .discuss_pj dt, .ware-wrap .discuss_pj dd{float: left; display: inline;}
.ware-wrap .discuss_pj dd{float: right; padding-right: 0.5rem;}
.ware-wrap .discuss_pj dt{font-size: 1.2rem; color: #a6a6a6;}
.ware-wrap .discuss_pj dt strong{ font-size: 1.3rem;}
.ware-wrap .discuss_pj dd span{font-size: 1.3rem; color: #1a1a1a; padding-right: 0.5rem;}
.ware-wrap .starlilst .star{width: 1.35rem; height: 1.3rem; }
.ware-wrap .starlilst .hui{background-position: 0 0;}
.ware-wrap .starlilst .red{background-position: -1.35rem 0;}

/*user_pj*/
.ware-wrap .user{ margin-bottom: 1rem; background: #fff;}
/*.ware-wrap .user_pj{padding-bottom: 5rem;}*/
.ware-wrap .user_buy_data{height: 4.7rem; line-height: 4.7rem; font-size: 1.5rem; padding: 0 1rem;}
.ware-wrap .user_buy_data li{ height: 100%;}
.ware-wrap .user_buy_data img{/* position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; width: 100%; margin: auto;*/}
.ware-wrap .user_buy_data .lx1 span{ position: absolute; top: 50%; left: 0; width: 2.7rem; height: 2.7rem; display: block; margin-top: -1.35rem; border-radius: 100% !important; overflow: hidden;}
.ware-wrap .user_buy_data .lx1{ position: relative; width: 2.7rem; margin-right: 1rem;}
.ware-wrap .user_buy_data .lx2{ font-size: 1.4rem; color: #1a1a1a;}
.ware-wrap .user_buy_data .lx3{font-size: 1.2rem; color: #a6a6a6;}
.ware-wrap .user_main{width: 35.5rem; padding-top: 1rem; margin: 0 auto;}
.ware-wrap .pj{padding-top: 1rem; font-size: 1.2rem; color: #1a1a1a; line-height: 1.8rem;}
.ware-wrap .user_main ol{padding-top: 1rem; overflow: hidden;}
.ware-wrap .user_main ol li{ position: relative; width: 10rem;/* height: 10rem;*/ margin: 0 0.5rem 0.5rem 0;}
.ware-wrap .user_main ol li:before{ position: absolute; top: 0; left: 0; content: ''; width: 200%; height: 200%; box-sizing: border-box; border: 1px solid #eaeaea; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 0;}
.ware-wrap .buydata{height: 4rem; line-height: 4rem; font-size: 1.2rem; color: #a6a6a6;}

/*buy_nav*/
.ware-wrap .buy_nav{ width: 37.5rem; height: 5.4rem; position: absolute; bottom: 0; left: 0; z-index: 9;}
.ware-wrap .buy_nav li{ height: 5.4rem; line-height: 5.4rem; text-align: center; position: relative;}
.ware-wrap .buy_nav .lx3, .ware-wrap .buy_nav .lx4{font-size: 1.7rem; width: 10.9rem;} 
.ware-wrap .buy_nav .lx1, .ware-wrap .buy_nav .lx2{width: 7.85rem;}
.ware-wrap .buy_nav .lx3{background: #ff8a3c;}
.ware-wrap .buy_nav .lx4{background: #f0514b;}
.ware-wrap .buy_nav .lx5,
.ware-wrap .buy_nav .lx6{width: 21.8rem; background: #8b8b8b; font-size: 1.6rem;}
.ware-wrap .buy_nav a{ position: relative; display: block; color: #fff; width: 100%; height: 100%; overflow: hidden;}
.ware-wrap .buy_nav .lx1,.ware-wrap .buy_nav .lx2{background: #fff;}
.ware-wrap .buy_nav li span{ z-index: 999; display: block; width: 1.2rem; height: 1.2rem; line-height: 1.2rem; border-radius: 100%; text-align: center; background: #f0514b; border: 1px solid #fff; position: absolute; top:1rem; right: 2rem; color: #fff; text-indent: 0; font-size: 0.8rem;}
.ware-wrap .nyh .lx3,.ware-wrap .nyh .lx4{display: none;}
.ware-wrap .yh .lx5{display: none;}
.ware-wrap .yh .lx6{display: none;}
.ware-wrap .buy_nav .lx1 strong,
.ware-wrap .buy_nav .lx2 strong{ position: absolute; display: block; top: 3.6rem; left: 0; width: 100%; font-size: 1rem; color: #494949; line-height: 1rem; text-align: center;}
.ware-wrap .buy_nav .lx1 i{ display: block; position: absolute; top: 50%; margin-top: -1.3rem; left: 50%; margin-left: -0.9rem; width: 1.85rem; height:1.7rem; background: url('../images/sprites.png') no-repeat -30.15rem 0; background-size: 37.5rem; text-indent: 0; font-size: 1rem; font-weight: normal; color: #5d5d5d; line-height: 6rem; pointer-events: none;}
.ware-wrap .buy_nav .lx2 i{ display: block; position: absolute; top: 50%; margin-top: -1.5rem; left: 50%; margin-left: -1.05rem; width: 2.1rem; height:1.9rem; background: url('../images/sprites.png') no-repeat -4.4rem 0rem; background-size: 37.5rem; text-indent: 0; font-size: 1rem; font-weight: normal; color: #5d5d5d; line-height: 6rem; pointer-events: none;}
.ware-wrap .swiper-container .sp_idx{width: 2.5rem; height: 2.5rem; line-height: 2.5rem; font-size: 1.2rem; color: #fff; position: absolute; right: 2rem; bottom: 2rem; text-indent: 0;  border-radius: 100%; z-index: 1000; background: rgba(0,0,0,0.5); text-align: center;}


/*ggcs*/
.ware-wrap .ggcs{ text-align: center;}
.ware-wrap .ggcs .table-box{ padding: 1rem 0; background: #fff;}
.ware-wrap .ggcs table{width: 35.5rem; margin: 0 auto;}
.ware-wrap .ggcs th,.ware-wrap .ggcs td{border: 1px solid #e2e2e2; height: 2.7rem; line-height: 2.7rem; font-size: 1.3rem; color: #1a1a1a;}
.ware-wrap .ggcs th{ height: 3.3rem; line-height: 3.3rem;}
.ware-wrap .ggcs .tdo{width: 9.8rem;}
.ware-wrap .ggcs strong{font-size: 1.5rem;}
.ware-wrap .ggcs .not{ font-size: 1.2rem; color: #a6a6a6; line-height: 13.6rem;}

/*spxq*/
<<<<<<< HEAD
.ware-wrap .spxq ul{ width: 100%; padding: 1rem 0; background: #fff; overflow: hidden;}
.ware-wrap .spxq li{ width: 100%; margin-bottom: 0.5rem; padding: 0 1rem; font-size: 1.2rem; color: #1a1a1a; line-height: 2.2rem;}
=======
.ware-wrap .spxq ul{ padding: 1rem 0; background: #fff;}
.ware-wrap .spxq li{ width: 35.5rem; margin-bottom: 0.5rem; padding: 0 1rem; font-size: 1.2rem; color: #1a1a1a; line-height: 2.2rem;}
>>>>>>> 688ca31043e2e7f77d5499df2160c69b2cb495f3
.ware-wrap .spxq .not-explain{ font-size: 1.2rem; color: #a6a6a6; line-height: 12rem;}

/*gmtc*/
.ware-wrap .ware_sp_list{clear: both;}
.ware-wrap .gmtc_show{ -webkit-animation:tc_bgshow 0.3s ease both; }
.ware-wrap .gmtc_show .gmtc_main {-webkit-animation:tc_up 0.3s ease both; -webkit-transform:translate(0,50rem);}
.ware-wrap .gmtc_hide{ -webkit-animation:tc_bghide 0.3s ease both; }
.ware-wrap .gmtc_hide .gmtc_main {-webkit-animation:tc_down 0.3s ease both;}
.ware-wrap .gmtc{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0); z-index: 9999;}
.ware-wrap .gmtc .gmtc_main{width: 37.5rem; padding-bottom: 7rem; background: #fff; position: absolute; bottom: 0; left: 0; }
.ware-wrap .gmtc .imgbox{width: 12rem; height: 12rem; position: absolute; left: 1.5rem; top: -3.3rem; border: 1px solid #d6d6d6; background: #fff;}
.ware-wrap .gmtc .imgbox em{width: 10rem; margin: 0 auto; display: block; overflow: hidden;}
.ware-wrap .gmtc .sp_price{padding-bottom: 11rem;}
.ware-wrap .gmtc .sp_price_text{width: 21.7rem; height: 9.85rem; float: right;}
.ware-wrap .gmtc .sp_price_text .p1{ height: 4.4rem; font-size: 1.4rem; color: #1a1a1a; line-height: 2.2rem; margin-bottom: 1rem; padding: 1.6rem 3rem 0 0; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.ware-wrap .gmtc .sp_price_text .p2{font-size: 1.7rem; color: #fb4c45; line-height: 1.5rem;}
.ware-wrap .gmtc .sp_color{clear: both;/* height: 27rem;*/ margin-bottom: 1rem; padding: 1rem 0; overflow: auto;}
.ware-wrap .gmtc .sp_color h2{height:3.2rem; line-height: 3.2rem; font-size: 1.3rem; color: #6e6e6e; padding: 0.3rem 0 0 1.6rem; }
.ware-wrap .gmtc .sp_color_bnt a{display: block; height: 2.7rem; line-height: 2.9rem; font-size: 1.0rem; text-align: center; float: left; border-radius: 0.25rem; margin: 0 0 0.5rem 1.6rem;}
.ware-wrap .gmtc .sp_color_bnt .have{ position: relative;/* border: 1px solid #c1c2c4;*/ color: #000;}
.ware-wrap .gmtc .sp_color_bnt .have:before{ position: absolute; top: 0; left: 0; content: ''; box-sizing: border-box; width: 200%; height: 200%;  border: 1px solid #c1c2c4; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 0;}
.ware-wrap .gmtc .sp_color_bnt .no{ background: #dbdbdb; color: #fff; cursor: default;}
.ware-wrap .gmtc .sp_color_bnt .small{padding: 0.2rem 0.8rem;}
.ware-wrap .gmtc .sp_color_bnt .center{width: 15.8rem;}
.ware-wrap .gmtc .sp_color_bnt .big{width: 24.5rem;}
.ware-wrap .gmtc .sp_val{padding-left: 1.65rem;}
.ware-wrap .gmtc .sp_val .jzq{ float: right; margin-right: 1.6rem; font-size: 1.3rem; color: #1a1a1a; line-height: 2.8rem;}
.ware-wrap .gmtc .sp_val p{ font-size: 1.3rem; color: #6e6e6e; line-height: 2.8rem;}

<<<<<<< HEAD
=======
/*.vertical .shopping-cart-wrap .right .actNum{ position: absolute; bottom:1.2rem; right:1rem; color: #212b3e; font-size: 1.44rem;text-align: center;}
.vertical .shopping-cart-wrap .right .actNum p{ border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.vertical .shopping-cart-wrap .right .actNum a{ box-sizing: border-box; border: 1px solid #d6d6d6; border-top: none; border-bottom: none; width: 2.35rem;height: 2.4rem;float: left; font-size: 2.6rem;color: #212b3e;line-height: 2.4rem;}
.vertical .shopping-cart-wrap .right .actNum a.plus{ font-size: 2.0rem; line-height: 2.2rem;}
.vertical .shopping-cart-wrap .right .actNum span{ box-sizing: border-box; float: left;width: 5.35rem; height: 2.4rem;text-align: center;line-height: 2.6rem;}*/

>>>>>>> 688ca31043e2e7f77d5499df2160c69b2cb495f3
.ware-wrap .gmtc .sp_val .jzq div{ border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6; color: #212b3e; font-size: 1.44rem;text-align: center;}
/*.ware-wrap .gmtc .sp_val span{ float: left; text-align: center; font-size: 1.6rem; height: 2.7rem; line-height: 2.7rem;}*/
.ware-wrap .gmtc .sp_val .jzq span{ box-sizing: border-box; float: left; width: 5.35rem; height: 2.4rem; text-align: center;line-height: 2.6rem;}
.ware-wrap .gmtc .sp_val .jzq .min, .ware-wrap .gmtc .sp_val .jzq .add{ border: 1px solid #d6d6d6; border-top: none; border-bottom: none; width: 2.35rem;height: 2.4rem; font-size: 2.6rem; color: #212b3e;line-height: 2.4rem; cursor: pointer; -webkit-tap-highlight-color: rgba(0,0,0,0.1)}
.ware-wrap .gmtc .sp_val .jzq .add{ font-size: 2.0rem; line-height: 2.2rem;}
.ware-wrap .gmtc .sp_val .text_box{width: 5.4rem;}
.ware-wrap .gmtc .sp_val .jzq strong{ float: left; height: 2.7rem; margin-right: 1.2rem; line-height: 2.8rem;}
.ware-wrap .gmtc .ljgmbnt{display: block; width: 100%; height: 5rem; line-height: 5rem; text-align: center; background: #f0514b; font-size: 1.6rem; color: #fff; position: absolute; bottom: 0;}
.ware-wrap .gmtc .jrgwcbnt{ background: #ff8a3c;}
.ware-wrap .jrgwc .shop_car_success{position: absolute; top: 50%; left: 50%; display: block; width: 15rem; margin-left: -7.5rem; margin-top: -5rem; z-index: 9998; display: none;}
.ware-wrap .gmtc .close{position: absolute; right: 1rem; top: 0; z-index: 99; font-size: 3rem; color: #afb0b1;}
.ware-wrap #ljgm .select,.ware-wrap #jrgwc .select{ background: #f0514b; color: #fff;}
.ware-wrap #ljgm .select:before,
.ware-wrap #jrgwc .select:before,
.ware-wrap #ljgm .no:before,
.ware-wrap #jrgwc .no:before{ display: none;}
@-webkit-keyframes tc_bgshow 
{
	0%{ background: rgba(0,0,0,0); }
	100%{ background: rgba(0,0,0,0.5);}
}
@-webkit-keyframes tc_bghide 
{
	0%{ background: rgba(0,0,0,0.5); }
	100%{ background: rgba(0,0,0,0);}
}
@-webkit-keyframes tc_up 
{
	0%{ -webkit-transform:translate(0,50rem); }
	100%{ -webkit-transform:translate(0,0); }
}
@-webkit-keyframes tc_down 
{
	0%{ -webkit-transform:translate(0,0); }
	100%{ -webkit-transform:translate(0,50rem); }
}


/*横屏样式*/
.level .ware-wrap{padding: 0;}
.level .ware-wrap .border-box{ border-bottom: 5.4rem solid rgba(255,255,255,0); overflow: hidden;}
.level .ware-wrap .ware{ position: absolute; width: 33.5rem; height: 100%; float: left; display: inline; margin-right: 0.1rem; margin-bottom: 0; overflow: hidden;}
.level .ware-wrap .swiper-container{ height: 22rem;}
.level .ware-wrap .ware_msg .ware_name{ padding: 1.2rem 0 1.7rem; font-weight: normal;}
.level .ware-wrap .about_ware{ display: none;}
.level .ware-wrap .ware_nav{float: right; display: inline;width: 33rem; clear: both;}
.level .ware-wrap .ware_nav a{width: 11rem;}
.level .ware-wrap .spxq, .level .ware-wrap .ggcs, .level .ware-wrap .user_pj{float: right; display: inline; width: 33rem; clear: both;}
.level .ware-wrap .buy_nav{ width: auto; border-top: 1px solid #eaeaea;}
/*.level .ware-wrap .buy_nav:before{ position: absolute; top: -1px; left: 0; content: ''; width: 200%; border: 1px solid #eaeaea; -webkit-transform: scaleY(0.5); -webkit-transform-origin: 0 bottom;}*/
.level .ware-wrap .buy_nav li{width: 16.6rem;}
.level .ware-wrap .buy_nav li.lx1,
.level .ware-wrap .buy_nav li.lx2{width: 16.75rem;}
.level .ware-wrap .buy_nav li.lx5,
.level .ware-wrap .buy_nav li.lx6{width: 33.2rem;}
.level .ware-wrap .buy_nav li.lx1 strong,
.level .ware-wrap .buy_nav li.lx2 strong{ top: 50%; left: 50%; margin-top: -0.4rem; margin-left: 0.2rem; font-size: 1.3rem; text-align: left;}
.level .ware-wrap .buy_nav li.lx1 i{ top: 50%; left: 50%; margin-top: -0.85rem; margin-left: -2.05rem;}
.level .ware-wrap .buy_nav li.lx2 i{ top: 50%; left: 50%; margin-top: -1.05rem; margin-left: -2.3rem;}
.level .ware-wrap .discuss_pj dt{width: 15rem;}
.level .ware-wrap .user_main{width: 31rem;}
.level .ware-wrap .ggcs table{width: 32rem;}
.level .ware-wrap .gmtc .gmtc_main{width: 42rem; left: 50%; margin-left: -21rem;}
.level .ware-wrap .gmtc .sp_price_text{width: 29rem;}
.level .ware-wrap .gmtc .sp_price_text .p1{ width: 25rem; height: 4.4rem; margin-bottom: 0.5rem; padding: 0.7rem 0 0 0; font-size: 1.4rem; color: #1a1a1a; line-height: 2.2rem;}
.level .ware-wrap .ggcs th,
.level .ware-wrap .ggcs td{ font-size: 1.1rem;}
.level .ware-wrap .ggcs strong{ font-size: 1.3rem;}
.level .ware-wrap .user_main ol li{width: 9rem;}
.level .ware-wrap .buy_nav li span{right: 8.2rem;}
.level .ware-wrap .ware_nav_body{ position: absolute; top: 0; right: 0; z-index: 9;}
.level .ware-wrap .spxq, .level .ware-wrap .ggcs, .level .ware-wrap .user_pj{height: 100%; box-sizing: border-box; border-top: 4.5rem solid rgba(255,255,255,0); overflow-y: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
.level .ware-wrap .buydata{ font-size: 1rem;}
.level .ware-wrap .ware_price .lx1{ font-size: 2.2rem; color: #fb4c45;}
.level .ware-wrap .ware_price .lx2{ font-size: 1rem; color: #a6a6a6;}
.level .ware-wrap .ware_price .lx3,
.level .ware-wrap .ware_price .lx4{ font-size: 1rem; color: #6e6e6e;}
.level .ware-wrap .ware_nav a{ font-size: 1.3rem;}
.level .ware-wrap .gmtc .gmtc_main{ box-sizing: border-box; height: 100%; background: none; padding: 8.3rem 0 8.6rem; border-top: 4rem solid rgba(0,0,0,0);}
.level .ware-wrap .gmtc .sp_price{ position: absolute; padding: 0; top: 0; left: 0; width: 100%; height: 8.3rem; background: #fff;}
.level .ware-wrap .gmtc .imgbox{ top: -2.4rem; width: 9.8rem; height: 9.8rem; border: 1px solid #eaeaea; overflow: hidden;}
.level .ware-wrap .gmtc .sp_color h2{ height: 2rem; margin-bottom: 0.5rem; font-size: 1.1rem; color: #6e6e6e; line-height: 2rem;}
.level .ware-wrap .gmtc .sp_color_bnt a{ height: 1.6rem; font-size: 1rem; line-height: 1.8rem;}
.level .ware-wrap .gmtc .sp_color{ height: 100%; margin-bottom: 0; background: #fff; box-sizing: border-box; overflow-y: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
.level .ware-wrap .gmtc .sp_color:before{ display: none;}
.level .ware-wrap .gmtc .sp_val{ position: absolute; bottom: 3.8rem; left: 0; width: 100%; height: 3.825rem; padding: 0; padding-top: 1rem; background: #fff; border: none;}
.level .ware-wrap .gmtc .sp_val:before{ position: absolute; top: 0; left: 0; content: ''; width: 200%; height: 200%; box-sizing: border-box; border: 1px solid #eaeaea; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 0;}
.level .ware-wrap .gmtc .sp_val p.dil{ padding-left: 1.85rem;}
.level .ware-wrap .gmtc .ljgmbnt{ height: 3.8rem; font-size: 1.5rem; line-height: 3.9rem;}
.level .ware-wrap .ware_img{ position: absolute; bottom: 7.8rem; width: 33.5rem;}
.level .ware-wrap .ware_msg{ position: absolute; bottom: 3.2rem; left: 0; width: 31.5rem;}
.level .ware-wrap .ware_price{ position: absolute; bottom: 0; left: 0; width: 31.5rem;}