<div class='page-container-wrap'>
    <link rel="stylesheet" href="./css/personal.css">
    <div class="wrap personal-wrap pr ovh">
        <a class='backtotop lsp' href="javascript:;" title='返回顶部'>返回顶部</a>
        <div class="border-box">
            <div id="personalSort"></div>
            <script id="personaltemplate" type="text/html">
                {{if isAdmin}}
                    <div class="per-header">
                        <div class="per-cen ovh">
                            <p class="per-pic ovh fl"><img src="{{meInfo.member.portrait}}" alt="{{meInfo.member.name}}"/></p>
                            <p class="per-name-id ovh fl">
                                <span class="pre-name">{{meInfo.member.name}}</span>
                                <span class="pre-id">ID:</span>
                            </p>
                        </div>
                    </div>
                    <div class="per-box per-order border-line-bot ovh">
                        <!-- <a class="order-name pr" href="#tpl/order"> -->
                        <a class="order-name pr" href="#tpl/order" onclick="getOrderState('all')">
                            <i class="sp pa">{{if total > 0}}<b>{{if total > 99}}99+{{else}}total{{/if}}</b>{{/if}}</i><span class="order-left">我的订单</span>
                            <span class="fr right-ico">查看全部订单<b class="per-sp"></b></span>
                        </a>
                    </div>
                    <div class="per-box pre-order-list">
                        <div class="list-box">
                            <ul>
                                <li><a href="#tpl/order" onclick="getOrderState('dfk')"><span class="payment sp">{{if meInfo.order.dfk > 0}}<i>{{if meInfo.order.dfk > 99}}99+{{else}}{{meInfo.order.dfk}}{{/if}}</i>{{/if}}</span>待付款</a></li>
                                <li><a href="#tpl/order" onclick="getOrderState('dfh')"><span class="delivery-send sp">{{if meInfo.order.dfh > 0}}<i>{{if meInfo.order.dfh > 99}}99+{{else}}{{meInfo.order.dfh}}{{/if}}</i>{{/if}}</span>待发货</a></li>
                                <li><a href="#tpl/order" onclick="getOrderState('dsh')"><span class="delivery-take sp">{{if meInfo.order.dsh > 0}}<i>{{if meInfo.order.dsh > 99}}99+{{else}}{{meInfo.order.dsh}}{{/if}}</i>{{/if}}</span>待收货</a></li>
                                <li><a href="#tpl/order" onclick="getOrderState('dpj')"><span class="evaluate sp">{{if meInfo.order.dpj > 0}}<i>{{if meInfo.order.dpj > 99}}99+{{else}}{{meInfo.order.dpj}}{{/if}}</i>{{/if}}</span>待评价</a></li>
                                <li><a href="#tpl/order" onclick="getOrderState('sh')"><span class="service sp">{{if meInfo.order.sh > 0}}<i>{{if meInfo.order.sh > 99}}99+{{else}}{{meInfo.order.sh}}{{/if}}</i>{{/if}}</span>售后</a></li> 
                            </ul>
                        </div>
                    </div>
                    <div class="per-box pre-msg border-line-bot">
                        <a class="order-name pr" href="#tpl/chatting">
                            <i class="sp pa"></i><span class="order-left">消息中心{{if meInfo.msg > 0}}<b>{{if meInfo.msg > 99}}99+{{else}}meInfo.msg{{/if}}</b>{{/if}}</span>
                            <span class="fr right-ico"><b class="per-sp"></b></span>
                        </a>
                    </div>
                    <div class="per-box pre-add border-line-bot">
                        <a class="order-name pr" href="#tpl/address">
                            <i class="sp pa"></i><span class="order-left">收货地址管理</span>
                            <span class="fr right-ico"><b class="per-sp"></b></span>
                        </a>
                    </div>
                    <div class="per-box pre-pro">
                        <a class="order-name pr" href="#tpl/help">
                            <i class="sp pa"></i><span class="order-left">常见问题</span>
                            <span class="fr right-ico"><b class="per-sp"></b></span>
                        </a>
                    </div>
                {{/if}}
            </script>
        </div>
    </div>
</div>
