<div class='page-container-wrap'>
    <link rel="stylesheet" href="./css/ensure_order.css" />
    <div class="wrap ensure-order-wrap pr ovh" id="wrap">
        <a class='backtotop lsp' href="javascript:;" title='返回顶部'>返回顶部</a>
        <div class="border-box">
            <div id='user_address'>
                <script id="address_art" type="text/html">  
                {{if msg.receiver['area_name']}}    
                     <a href="#tpl/address" class="addBox" rid={{msg.receiver.id}}>
                        <p><span class="buyer">{{msg.receiver.consignee}}</span><span class="buyerNum">{{msg.receiver.phone}}</span></p>
                        <p class="buyerAdd">{{msg.receiver.area_name}}{{msg.receiver.address}}</p>
                        <i class="icon-locate addsp"></i>
                    </a>
                    {{else}}
                    <a href="#tpl/address" class="addBox">
                        <span class="addNewAdd"><i class="addsp"></i>请添加地址</span>
                    </a>
                {{/if}}  
                </script>
            </div>
            <div id='shopList'>
               <script id="warelist_art" type="text/html">  
                {{if true}}   
                    <div class="shopList" bid={{msg.b_id}}>
                        <p class="shopName"><i class="addsp"></i>{{msg.b_name}}</p>
                        {{each msg.product as value index}}  
                        <div class="itemList clearfix" pid={{msg.product[index].id}} qty={{msg.product[index].quantity}}>
                            <img src={{msg.product[index].image}} alt="pic" class="left" />
                            <div class="right">
                                <p class="listName">{{msg.product[index].introduction}}</p>
                                <p class="alreadySale">已售 <span>{{msg.product[index].stock}}</span> 笔</p>
                                {{each msg.product[index].specification as value i}}
                                    <p class="color">{{msg.product[index].specification[i]}}</p>
                                {{/each}}
                                <div class="nums clearfix">
                                    <p><span class="rmb">￥</span><span>{{msg.product[index].price / 100}}</span></p>
                                    <p><span>{{msg.product[index].quantity}}</span>{{msg.product[index].unit}}</p>
                                </div>
                            </div>
                        </div>
                       {{/each}}  
                    </div>
                 {{/if}}  
                </script> 
            </div>
            <div class="countFee clearfix" id='countFee'>
                <script id="countFee_art" type="text/html">  
                {{if msg.product.length}}  
                    <p class="itemFee clearfix">
                        <span class="feeName">商品金额</span>
                        <span class="feeNum"><span>￥</span>{{ #msg.product | getPrice }}</span>
                    </p>
                    <p class="transportFee clearfix">
                        <span class="feeName">运费</span>
                        <span class="feeNum"><span>￥</span>{{msg.receiver.freight}}</span>
                    </p>
                    <p class="allFee clearfix">
                        <span class="feeName">总价格</span>
                        <span class="feeNum"><span>￥</span><strong>{{ #msg.product,msg.receiver.freight | getPrice }}</strong></span>
                    </p>
                {{/if}}  
                </script>
            </div>
            <a href="javascript:;" class="goPay">立即支付</a>
        </div>
    </div>
    <div class="pop pop-tips" id="noaddress">
        <div class="pop-tips-cont">
            <p class="" id="pop-tips-icon"></p>
            <p class="text txc" id="pop-tips-text"></p>
        </div>  
    </div>
</div>