<div class='page-container-wrap' id='page-container-wrap'>
    <link rel="stylesheet" href="./css/ware.css">
    <div class="wrap index-wrap ware-wrap pr" id="wrap">
        <div class='ware withebg'>
            <div class='ware_img'>
                <div class="swiper-container" id='swiper-container'>
                    <span class='sp_idx'>1/5</span>
                    <div class="swiper-wrapper" id='swiper-wrapper'>
                        <script id="banner" type="text/html">  
                            {{if isAdmin}}  
                                {{each bannerImg_list as value index}}  
                                    <div class='swiper-slide'><img src={{value}}></div>  
                                {{/each}}  
                            {{/if}}  
                        </script>        
                    </div>
                </div>
            </div>
            <div class='ware_msg' id='ware_msg'>
                <script id="ware_msg_art" type="text/html">  
                {{if isAdmin}}  
                    <h2 class='ware_name'>{{name}}</h2>
                    <p class='about_ware gray'>{{introduction}}</p>
                {{/if}}  
                </script>  
            </div>
            <div class='ware_price' id='ware_price'>
                <script id="ware_price_art" type="text/html">  
                {{if isAdmin}}  
                <ul>
                    <li class='fl dil lx1'>&yen;{{price}}</li>
                    <li class='fl dil lx2 gray'><del>&yen;{{market_price}}</del></li>
                    <li class='fl dil lx4 gray'>近期销量：<span>{{sales}}</span></li>
                    <li class='fl dil lx3 gray'>总库存：<span>{{t_stock}}</span></li>
                </ul>
                {{/if}}  
                </script>  
            </div>  
        </div>
        <!--ware E-->

        <!--ware_nav S-->
        <div class='ware_nav_body' id='ware_nav_body'>
            <div class='ware_nav' id='ware_nav'>
                <a class='db fl select' href="javascript:" title='商品介绍'>商品介绍</a>
                <a class='db fl' href="javascript:" title='规格参数'>规格参数</a>
                <a class='db fl' href="javascript:" title='买家评论'>买家评论</a>
            </div>
        </div>
        <!--ware_nav E-->

        <!--商品介绍 S-->
        <div id='spxq' class='spxq'>
            <ul>
                <li><img src="images/ware/img3.jpg"></li>
                <li><img src="images/ware/img4.jpg"></li>
                <li><img src="images/ware/img3.jpg"></li>
                <li><img src="images/ware/img4.jpg"></li>
            </ul>
        </div>
        <!--商品介绍 E-->

        <!--规格参数 S -->
        <div id='ggcs' class='ggcs' style='display:none;'>
            <table border='1'>
                <tr>
                    <td colspan="2"><strong>综合评价</strong></td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>产地</td>
                    <td>中国</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>属性</strong></td>
                </tr>
                <tr>
                    <td class='tdo'>重量</td>
                    <td>16g</td>
                </tr>
                <tr>
                    <td class='tdo'>材质</td>
                    <td>尼龙</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>其他</strong></td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
                <tr>
                    <td class='tdo'>品牌</td>
                    <td>SN</td>
                </tr>
            </table>
        </div>
        <!--规格参数 E -->

        <!--买家评论 S -->
        <div id='user_pj' class='user_pj' style='display:none;'>
            <div id='discuss_pj' class='discuss_pj'>
                <dl>
                    <dt class='gray'><strong>评价 </strong>(<span>900</span>)条</dt>
                    <dd>
                        <span>综合评价</span>
                        <p class='starlilst fr'>
                            <em class='star dil lsp red'></em>
                            <em class='star dil lsp red'></em>
                            <em class='star dil lsp red'></em>
                            <em class='star dil lsp red'></em>
                            <em class='star dil lsp red'></em>
                        </p>
                    </dd>
                </dl>
            </div> 
            <div id='user_comment'>
                <script id="user_art" type="text/html">  
                {{if isAdmin}} 
                    {{each review as value index}} 
                    <div class='user'>  
                        <ul class='user_buy_data'>
                            <li class='dil lx1 fl'><span><img src={{review[index].portrait}}></span></li>
                            <li class='dil lx2 fl'>{{review[index].name}}</li>
                            <li class='dil lx3 fr'>{{review[index].c_time}}</li>
                        </ul>
                        <div class='user_main'>
                            <p class='starlilst'>
                                {{ #review[index].score | dateFormat}}
                            </p>
                            <p class='pj gray'>{{review[index].content}}</p>
                            <ol>
                                 {{ #review[index].image | getUserImage }}
                            </ol>
                            <p class='buydata gray'>
                                <span class='fl'>类别：<em>{{review[index].specifications}}</em></span>
                                <span class='fr'>购买日期：<em>{{review[index].p_time}}</em></span>
                            </p>
                        </div>
                    </div>
                    {{/each}}  
                {{/if}}  
                </script> 
            </div>
            <div class="tips txc">下拉加载更多...</div>
        </div>
        <!--买家评论 E -->

        <!--buy_nav S -->
        <div class='buy_nav'>
            <ul class='yh'>
                <li class='fl lx1'><a href="#tpl/chatSystem" title='客服'>客服</a></li>
                <li class='fl lx2'><span>5</span><a href="#tpl/shoppingCart" title='购物车'>购物车</a></li>
                <li class='fl lx3'><a href="javascript:showDialog('jrgwc')" title='加入购物车'>加入购物车</a></li>
                <li class='fl lx4'><a href="javascript:showDialog('ljgm')" title='立即购买'>立即购买</a></li>
                <li class='fl lx5'><a href="javascript:" title='已售完'>已售完</a></li>
                <li class='fl lx6'><a href="javascript:" title='已下架'>已下架</a></li>
            </ul>
        </div>
        <!--buy_nav E -->

        <!--立即购买弹窗 S-->
        <div class='ljgm gmtc gmtc_show' id='ljgm' style='display:none;'>
            <div class='gmtc_main'>
                <a class='close' href="javascript:closeDialog('ljgm')" title='关闭'>×</a>
                <span class='imgbox dil'><em><img src="images/ware/img5.jpg"></em></span>
                <div class='sp_price'>
                    <div class='sp_price_text'>
                        <p class='p1'>CF最新枪战模型X战1</p>
                        <p class='p2'>&yen;<span>229</span></p>
                    </div>
                    <div class='sp_color' id='sp_color_gm'>
                        <script id="ljgm_art" type="text/html">  
                        {{if isAdmin}} 
                            {{each g_specification as value index}} 
                            <div class='ware_sp_list'> 
                                <h2>{{g_specification[index].name}}</h2>
                                <div class='sp_color_bnt' id=sp_color_bnt_{{index}}>
                                    {{each g_specification[index].value as value count}} 
                                        <a zdy={{g_specification[index].value[count].id}} class='have small' href="javascript:">{{g_specification[index].value[count].name }}</a>
                                    {{/each}} 
                                </div>
                            </div>
                            {{/each}} 
                        {{/if}}  
                        </script>  
                    </div>
                    <div class='sp_val'>
                        <p class='dil'>数量　</p>
                        <div class='jzq dil'>
                            <span class='min'>-</span>  
                            <span class='text_box'>0</span>   
                            <span class='add'>+</span>  
                        </div>
                        <p class='dil'>　库存: <em>50</em></p>
                    </div>
                    <a class='ljgmbnt' href="#tpl/ensure_order" title='立即购买'>立即购买</a>
                </div>
            </div>
        </div>
        <!--立即购买弹窗 E-->

        <!--加入购物车弹窗 S-->
        <div class='jrgwc gmtc gmtc_show' id='jrgwc' style='display:none;'>
            <div class='gmtc_main'>
                <span class='shop_car_success'><img src="../images/ware/shop_car_success.png"></span>
                <a class='close' href="javascript:closeDialog('jrgwc')" title='关闭'>×</a>
                <span class='imgbox dil'><em><img src="images/ware/img5.jpg"></em></span>
                <div class='sp_price'>
                    <div class='sp_price_text'>
                        <p class='p1'>CF最新枪战模型X战1</p>
                        <p class='p2'>&yen;<span>229</span></p>
                    </div>
                    <div class='sp_color' id="sp_color_jrgwc">
                        
                    </div>
                    <div class='sp_val'>
                        <p class='dil'>数量　</p>
                        <div class='jzq dil'>
                            <span class='min'>-</span>  
                            <span class='text_box'>0</span>   
                            <span class='add'>+</span>  
                        </div>
                        <p class='dil'>　库存: <em>50</em></p>
                    </div>
                    <a class='ljgmbnt jrgwcbnt' href="javascript:" title='加入购物车'>加入购物车</a>
                </div>
            </div>
        </div>
        <!--加入购物车弹窗 E-->
    </div>
</div>
<script>
 
/**/
// var banner_data = {
//   isAdmin: true,
//   list: ['images/ware/banner_img1.jpg', 'images/ware/banner_img1.jpg']
// };
// var html = template('banner', banner_data);
// document.getElementById('swiper-wrapper').innerHTML = html;

</script>
